<fieldset>	
			
	<div id="name" class="col-md-4">
		<%= f.label :name, :class => "control-label" %>
		<%= f.text_field :name, :class => "form-control" %>
	</div>
	
	<div id="_type" class="col-md-8">
		<%= f.label :_type, :class => "control-label" %>
		<%= f.select :_type, Bin::TYPES, {}, {:class => "form-control"} %>
	</div>

	<div id="warehouse" class="col-md-8">
		<%= f.label :warehouse_id, :class => "control-label" %>
		<%= f.select :warehouse_id, Warehouse.all.map {|w| [w.name, w.id]}, {include_blank: true}, {:class => "form-control"} %>
	</div>

</fieldset>