<%= form_for @checkout, :url => checkout_address_path, :method => :patch do |f| %>
<% @checkout.errors.each do |attribute, message| %>
	<script>
	$("#checkout_<%= attribute %>").addClass("danger");
	</script>
<% end %>
<table class="table table-bordered">
	
	<tr>
		<th width="50%" class="text-center">Ship To</th>
		<th width="50%" class="text-center">Bill To</th>
	</tr>
	
	<tr>
		<td>
			<fieldset>
				
				<div id="address" class="col-md-12 shipping">
					<%= f.label :class => "control-label" do %>Company Name
						<% unless @checkout.errors[:ship_to_account_name].blank? %>
							<span class="text text-danger">(<%= "#{@checkout.errors.full_messages_for(:ship_to_account_name).first}" %>)</span>
						<% end %>
					<% end %>
					<%= f.text_field :ship_to_account_name, :class => "form-control", :value => @checkout.ship_to_account_name %>
				</div>
				
				<div id="address" class="col-md-12 shipping">
					<%= f.label :attention, :class => "control-label" %>
					<%= f.text_field :ship_to_attention, :class => "form-control", :value => @checkout.ship_to_attention %>
				</div>

				<div id="address" class="col-md-12 shipping">
					<%= f.label :class => "control-label" do %>Address
						<% unless @checkout.errors[:ship_to_address_1].blank? %>
							<span class="text text-danger">(<%= "#{@checkout.errors.full_messages_for(:ship_to_address_1).first}" %>)</span>
						<% end %>
					<% end %>	
					<%= f.text_field :ship_to_address_1, :class => "form-control", :value => @checkout.ship_to_address_1 %>
				</div>

				<div id="address_2" class="col-md-12 shipping">
					<%= f.label :address_2, :class => "control-label" %>
					<%= f.text_field :ship_to_address_2, :class => "form-control", :value => @checkout.ship_to_address_2 %>
				</div>

				<div id="city" class="col-md-12 shipping">
					<%= f.label :class => "control-label" do %>City
						<% unless @checkout.errors[:ship_to_city].blank? %>
							<span class="text text-danger">(<%= "#{@checkout.errors.full_messages_for(:ship_to_city).first}" %>)</span>
						<% end %>
					<% end %>	
					<%= f.text_field :ship_to_city, :class => "form-control", :value => @checkout.ship_to_city %>
				</div>
				
				<div id="state" class="col-md-6 shipping">
					<%= f.label :class => "control-label" do %>State
						<% unless @checkout.errors[:ship_to_state].blank? %>
							<span class="text text-danger">(<%= "#{@checkout.errors.full_messages_for(:ship_to_state).first}" %>)</span>
						<% end %>
					<% end %>	
					<%= f.text_field :ship_to_state, :class => "form-control", :value => @checkout.ship_to_state %>
				</div>
				
				<div id="zip" class="col-md-6 shipping">
					<%= f.label :class => "control-label" do %>State
						<% unless @checkout.errors[:ship_to_zip].blank? %>
							<span class="text text-danger">(<%= "#{@checkout.errors.full_messages_for(:ship_to_zip).first}" %>)</span>
						<% end %>
					<% end %>	
					<%= f.text_field :ship_to_zip, :class => "form-control", :value => @checkout.ship_to_zip %>
				</div>

				<div id="phone" class="col-xs-12 shipping">
					<%= f.label :phone, :class => "control-label" %>
					<%= f.text_field :ship_to_phone, :class => "form-control", :value => @checkout.ship_to_phone %>
				</div>
				
				<div id="email" class="col-md-12 shipping">
					<%= f.label :class => "control-label" do %>Email
						<% unless @checkout.errors[:email].blank? %>
							<span class="text text-danger">(<%= "#{@checkout.errors.full_messages_for(:email).first}" %>)</span>
						<% end %>
					<% end %>	
					<%= f.text_field :email, :class => "form-control", :value => @checkout.email %>
				</div>

			</fieldset>
		</td>
		
		<td>
			<fieldset>
				
				<div id="address" class="col-md-12 shipping">
					<%= f.label :company_name, :class => "control-label" %>
					<%= f.text_field :bill_to_account_name, :class => "form-control bill_to" %>
				</div>
				
				<div id="address" class="col-md-12 shipping">
					<%= f.label :attention, :class => "control-label" %>
					<%= f.text_field :bill_to_attention, :class => "form-control bill_to" %>
				</div>

				<div id="address" class="col-md-12 shipping">
					<%= f.label :address, :class => "control-label" %>
					<%= f.text_field :bill_to_address_1, :class => "form-control bill_to" %>
				</div>

				<div id="address_2" class="col-md-12 shipping">
					<%= f.label :address_2, :class => "control-label" %>
					<%= f.text_field :bill_to_address_2, :class => "form-control bill_to" %>
				</div>

				<div id="city" class="col-sm-12 col-xs-12 shipping">
					<%= f.label :city, :class => "control-label" %>
					<%= f.text_field :bill_to_city, :class => "form-control bill_to" %>
				</div>

				<div id="state" class="col-sm-6 col-xs-6 shipping">
					<%= f.label :state, :class => "control-label" %>
					<%= f.text_field :bill_to_state, :class => "form-control bill_to" %>
				</div>

				<div id="zip" class="col-sm-6 col-xs-6 shipping">
					<%= f.label :zip, :class => "control-label" %>
					<%= f.text_field :bill_to_zip, :class => "form-control bill_to" %>
				</div>

				<div id="phone" class="col-xs-12 shipping">
					<%= f.label :phone, :class => "control-label" %>
					<%= f.text_field :bill_to_phone, :class => "form-control bill_to" %>
				</div>
				
				<div id="email" class="col-xs-12 shipping">
					<%= f.label :bill_to_email, :class => "control-label" %>
					<%= f.text_field :bill_to_email, :class => "form-control", :value => @checkout.bill_to_email %>
				</div>
				
				<div id="use_ship_to" class="col-xs-12 shipping">
					<%= label_tag :use_ship_to_address do %>
						<%= check_box_tag :use_ship_to_address, :checked, :class => "form-control" %>
					<% end %>
				</div>
				
				
				
				<script>
					$(document).ready(function() {
						
						if ($('#use_ship_to_address').val($(this).is(":checked"))) {
							$(".bill_to").prop("disabled", true)
						};
						
						$('#use_ship_to_address').change(function(){
							if ($(this).is(":checked")) {
								$(".bill_to").prop("disabled", true)
							} else {
								$(".bill_to").prop("disabled", false)
							}
						});
					})
				</script>

			</fieldset>
		</td>
	</tr>
	
	<tr>
		<td colspan="2">
			<fieldset>
				<div id="po_number" class="col-xs-12 shipping">
					<%= f.label :po_number, :class => "control-label" %>
					<%= f.text_field :po_number, :class => "form-control col-md-6" %>
				</div>
			</fieldset>
		</td>
	</tr>
	
	<tr>
		<td colspan="2">
			<fieldset>
				<div id="notes" class="col-xs-12 shipping">
					<%= f.label :notes, :class => "control-label" %>
					<%= f.text_area :notes, :class => "form-control col-md-6" %>
				</div>
			</fieldset>
		</td>
	</tr>
	
	<tr>
		<td colspan="2"><%= f.submit "Continue", :class => "btn btn-primary pull-right"%></td>
	</tr>
	
</table>
<% end %>