<%= form_for @checkout, :url => checkout_address_path, :method => :patch do |f| %>
<% @checkout.errors.each do |attribute, message| %>
	<script>
	$("#checkout_<%= attribute %>").addClass("danger");
	</script>
<% end %>
<table class="table table-bordered">

  <% if current_user.user_accounts.size > 0 %>
      <tr>
        <th colspan="2">

          <div id="account_id" class="col-xs-12">
            <%= label_tag :account_id do %>
              <%= f.select :account_id, current_user.user_accounts.map {|ac| [ac.account.name, ac.account_id,
                 {"data-bill-to-account-name" => ac.account.name,
                 "data-bill-to-address-1" => ac.account.bill_to_address_1,
                 "data-bill-to-address-2" => ac.account.bill_to_address_2,
                 "data-bill-to-city" => ac.account.bill_to_city,
                 "data-bill-to-state" => ac.account.bill_to_state,
                 "data-bill-to-zip" => ac.account.bill_to_zip,
                 "data-bill-to-phone" => ac.account.bill_to_phone,
                 "data-bill-to-email" => ac.account.bill_to_email,
                 "data-ship-to-account-name" => ac.account.name,
                 "data-ship-to-address-1" => ac.account.ship_to_address_1,
                 "data-ship-to-address-2" => ac.account.ship_to_address_2,
                 "data-ship-to-city" => ac.account.ship_to_city,
                 "data-ship-to-state" => ac.account.ship_to_state,
                 "data-ship-to-zip" => ac.account.ship_to_zip,
                 "data-ship-to-phone" => ac.account.ship_to_phone,
                 "data-ship-to-email" => ac.account.email}]}, {},:class => "form-control" %>
            <% end %>
          </div>
        </th>
      </tr>

      <script>
          $("select#checkout_account_id").change(function(event){
              var account_id = $("select#checkout_account_id").find(':selected');
              $("#checkout_bill_to_account_name").val(account_id.data("bill-to-account-name"));
              $("#checkout_bill_to_address_1").val(account_id.data("bill-to-address-1"));
              $("#checkout_bill_to_address_2").val(account_id.data("bill-to-address-2"));
              $("#checkout_bill_to_city").val(account_id.data("bill-to-city"));
              $("#checkout_bill_to_state").val(account_id.data("bill-to-state"));
              $("#checkout_bill_to_zip").val(account_id.data("bill-to-zip"));
              $("#checkout_bill_to_phone").val(account_id.data("bill-to-phone"));
              $("#checkout_bill_to_email").val(account_id.data("bill-to-email"));
              $("#checkout_ship_to_account_name").val(account_id.data("ship-to-account-name"));
              $("#checkout_ship_to_address_1").val(account_id.data("ship-to-address-1"));
              $("#checkout_ship_to_address_2").val(account_id.data("ship-to-address-2"));
              $("#checkout_ship_to_city").val(account_id.data("ship-to-city"));
              $("#checkout_ship_to_state").val(account_id.data("ship-to-state"));
              $("#checkout_ship_to_zip").val(account_id.data("ship-to-zip"));
              $("#checkout_ship_to_phone").val(account_id.data("ship-to-phone"));
              $("#checkout_email").val(account_id.data("ship-to-email"));

          });
      </script>

  <% end %>

	<tr>
		<th width="50%" class="text-center">Ship To</th>
		<th width="50%" class="text-center">Bill To</th>
	</tr>
	
	<tr>
		<td>
			<fieldset>

        <div id="select_address" class="col-md-12 shipping">
          <label for="checkout_{:class=>&quot;control-label&quot;}">Select Address</label>
          <%= select_tag("Select Address", options_from_collection_for_select(current_user.account.addresses, "id", "name"), {include_blank: true, class: "shipping_address form-control selectpicker"}) %>
          <script>
            var addresses = <%= raw current_user.account.addresses.to_a.push(Address.new).to_json %>;
            $('select.shipping_address').change(function(){
              var $select = $(this);
              var current_address = addresses.filter(function(item){return item.id == (parseInt( $select.val() ) || null) })[0];
              $(':input#checkout_ship_to_address_1').val(current_address['address_1']);
              $(':input#checkout_ship_to_address_2').val(current_address['address_2']);
              $(':input#checkout_ship_to_city').val(current_address['city']);
              $(':input#checkout_ship_to_state').val(current_address['state']);
              $(':input#checkout_ship_to_zip').val(current_address['zip']);
              $(':input#checkout_ship_to_phone').val(current_address['phone']);
            })
          </script>
        </div>        
				
				<div id="address" class="col-md-12 shipping">
					<%= f.label :class => "control-label" do %>Company Name
						<% unless @checkout.errors[:ship_to_account_name].blank? %>
							<span class="text text-danger">(<%= "#{@checkout.errors.full_messages_for(:ship_to_account_name).first}" %>)</span>
						<% end %>
					<% end %>
					<%= f.text_field :ship_to_account_name, :class => "form-control", :value => @checkout.ship_to_account_name %>
				</div>
				
				<div id="address" class="col-md-12 shipping">
					<%= f.label :attention, :class => "control-label" %>
					<%= f.text_field :ship_to_attention, :class => "form-control", :value => @checkout.ship_to_attention %>
				</div>

				<div id="address" class="col-md-12 shipping">
					<%= f.label :class => "control-label" do %>Address
						<% unless @checkout.errors[:ship_to_address_1].blank? %>
							<span class="text text-danger">(<%= "#{@checkout.errors.full_messages_for(:ship_to_address_1).first}" %>)</span>
						<% end %>
					<% end %>	
					<%= f.text_field :ship_to_address_1, :class => "form-control", :value => @checkout.ship_to_address_1 %>
				</div>

				<div id="address_2" class="col-md-12 shipping">
					<%= f.label :address_2, :class => "control-label" %>
					<%= f.text_field :ship_to_address_2, :class => "form-control", :value => @checkout.ship_to_address_2 %>
				</div>

				<div id="city" class="col-md-12 shipping">
					<%= f.label :class => "control-label" do %>City
						<% unless @checkout.errors[:ship_to_city].blank? %>
							<span class="text text-danger">(<%= "#{@checkout.errors.full_messages_for(:ship_to_city).first}" %>)</span>
						<% end %>
					<% end %>	
					<%= f.text_field :ship_to_city, :class => "form-control", :value => @checkout.ship_to_city %>
				</div>
				
				<div id="state" class="col-md-6 shipping">
					<%= f.label :class => "control-label" do %>State
						<% unless @checkout.errors[:ship_to_state].blank? %>
							<span class="text text-danger">(<%= "#{@checkout.errors.full_messages_for(:ship_to_state).first}" %>)</span>
						<% end %>
					<% end %>	
					<%= f.text_field :ship_to_state, :class => "form-control", :value => @checkout.ship_to_state %>
				</div>
				
				<div id="zip" class="col-md-6 shipping">
					<%= f.label :class => "control-label" do %>Zip
						<% unless @checkout.errors[:ship_to_zip].blank? %>
							<span class="text text-danger">(<%= "#{@checkout.errors.full_messages_for(:ship_to_zip).first}" %>)</span>
						<% end %>
					<% end %>	
					<%= f.text_field :ship_to_zip, :class => "form-control", :value => @checkout.ship_to_zip %>
				</div>

				<div id="phone" class="col-xs-12 shipping">
					<%= f.label :phone, :class => "control-label" %>
					<%= f.text_field :ship_to_phone, :class => "form-control", :value => @checkout.ship_to_phone %>
				</div>
				
				<div id="email" class="col-md-12 shipping">
					<%= f.label :class => "control-label" do %>Email
						<% unless @checkout.errors[:email].blank? %>
							<span class="text text-danger">(<%= "#{@checkout.errors.full_messages_for(:email).first}" %>)</span>
						<% end %>
					<% end %>	
					<%= f.text_field :email, :class => "form-control", :value => @checkout.email %>
				</div>

			</fieldset>
		</td>
		
		<td>
			<fieldset>

        <div id="select_address" class="col-md-12 shipping">
          <label for="checkout_{:class=>&quot;control-label&quot;}">Select Address</label>
          <%= select_tag("Select Address", options_from_collection_for_select(current_user.account.addresses, "id", "name"), {include_blank: true, class: "billing_address form-control bill_to selectpicker"}) %>
          <script>
            var addresses = <%= raw current_user.account.addresses.to_a.push(Address.new).to_json %>;
            $('select.billing_address').change(function(){
              var $select = $(this);
              var current_address = addresses.filter(function(item){return item.id == (parseInt( $select.val() ) || null) })[0];
              $(':input#checkout_bill_to_address_1').val(current_address['address_1']);
              $(':input#checkout_bill_to_address_2').val(current_address['address_2']);
              $(':input#checkout_bill_to_city').val(current_address['city']);
              $(':input#checkout_bill_to_state').val(current_address['state']);
              $(':input#checkout_bill_to_zip').val(current_address['zip']);
              $(':input#checkout_bill_to_phone').val(current_address['phone']);
            })
          </script>
        </div>        
        				
				<div id="address" class="col-md-12 shipping">
					<%= f.label :company_name, :class => "control-label" %>
					<%= f.text_field :bill_to_account_name, :class => "form-control bill_to" %>
				</div>
				
				<div id="address" class="col-md-12 shipping">
					<%= f.label :attention, :class => "control-label" %>
					<%= f.text_field :bill_to_attention, :class => "form-control bill_to" %>
				</div>

				<div id="address" class="col-md-12 shipping">
					<%= f.label :address, :class => "control-label" %>
					<%= f.text_field :bill_to_address_1, :class => "form-control bill_to" %>
				</div>

				<div id="address_2" class="col-md-12 shipping">
					<%= f.label :address_2, :class => "control-label" %>
					<%= f.text_field :bill_to_address_2, :class => "form-control bill_to" %>
				</div>

				<div id="city" class="col-sm-12 col-xs-12 shipping">
					<%= f.label :city, :class => "control-label" %>
					<%= f.text_field :bill_to_city, :class => "form-control bill_to" %>
				</div>

				<div id="state" class="col-sm-6 col-xs-6 shipping">
					<%= f.label :state, :class => "control-label" %>
					<%= f.text_field :bill_to_state, :class => "form-control bill_to" %>
				</div>

				<div id="zip" class="col-sm-6 col-xs-6 shipping">
					<%= f.label :zip, :class => "control-label" %>
					<%= f.text_field :bill_to_zip, :class => "form-control bill_to" %>
				</div>

				<div id="phone" class="col-xs-12 shipping">
					<%= f.label :phone, :class => "control-label" %>
					<%= f.text_field :bill_to_phone, :class => "form-control bill_to" %>
				</div>
				
				<div id="email" class="col-xs-12 shipping">
					<%= f.label :bill_to_email, :class => "control-label" %>
					<%= f.text_field :bill_to_email, :class => "form-control", :value => @checkout.bill_to_email %>
				</div>
				
				<div id="use_ship_to" class="col-xs-12 shipping">
          <%= check_box_tag :use_ship_to_address, true, :checked %>
					<%= label_tag :use_ship_to_address %>
				</div>
				
				
				
				<script>
					$(document).ready(function() {

            if ($('#use_ship_to_address').is(":checked")) {
              $(".bill_to").prop("disabled", true)
            };
            
            $('#use_ship_to_address').change(function(){
              if ($(this).is(":checked")) {
                $(".bill_to").prop("disabled", true)
              } else {
                $(".bill_to").prop("disabled", false)
              }
            });
					})
				</script>

			</fieldset>
		</td>
	</tr>
	
	<tr>
		<td colspan="2">
			<fieldset>
				<div id="po_number" class="col-xs-12 shipping">
					<%= f.label :po_number, :class => "control-label" %>
					<%= f.text_field :po_number, :class => "form-control col-md-6" %>
				</div>
			</fieldset>
		</td>
	</tr>
	
	<tr>
		<td colspan="2">
			<fieldset>
				<div id="notes" class="col-xs-12 shipping">
					<%= f.label :notes, :class => "control-label" %>
					<%= f.text_area :notes, :class => "form-control col-md-6" %>
				</div>
			</fieldset>
		</td>
	</tr>
	
	<tr>
		<td colspan="2"><%= f.submit "Continue", :class => "btn btn-primary pull-right"%></td>
	</tr>
	
</table>
<% end %>