<table class="table table-bordered">
	
	<tr>
		<th width="5%" class="text-center"></th>
		<th>Item Number/Item Name</th>
		<th width="10%" class="text-center">Quantity</th>
		<th width="10%" class="text-center">Price</th>
		<th width="10%" class="text-center">Subtotal</th>
	</tr>
	
	<% @cart.contents.active.each_with_index do |li, idx| %>
	<tr>
		<td class="text-center"><%= li.order_line_number %></td>
		<td><strong><%= li.item.number %></strong> - <%= li.item.name %></td>
		<td class="text-center">
			<%= li.quantity.to_i %>
		</td>
		<td class="text-center"><%= number_to_currency(li.price) %></td>
		<td class="text-center"><%= number_to_currency(li.sub_total) %></td>
	<tr>
	<% end %>
	
	<tr>
		<td colspan="3">Sub Total</td>
		<td colspan="2" class="text-center"><strong><%= number_to_currency(@cart.sub_total) %></strong></td>
	</tr>
	<tr>
		<td colspan="3">Sales Tax</td>
		<td colspan="2" class="text-center"><strong><%= number_to_currency(@cart.tax_total) %></strong></td>
	</tr>
	<tr>
		<td colspan="3"><%= @checkout.order_shipping_method.name %> - Shipping</td>
		<td colspan="2" class="text-center"><strong> <%= number_to_currency(@checkout.shipping_total) %></strong></td>
	</tr>
	<% if @cart.order_discount_code %>
		<%= render :partial => "discount_code", :locals => {:checkout => @checkout} %>
	<% end %>
	<tr id="order_total">
		<td colspan="3">Order Total</td>
		<td colspan="2" class="text-center"><strong> <%= number_to_currency(@checkout.total) %></strong></td>
	</tr>
</table>

<table class="table table-bordered">
	<tr>
		<th width="50%">Shipping Address</th>
		<th width="50%">Billing Address</th>
	</tr>
	<tr>
		<td>
			<%= @cart.ship_to_account_name %><br/>
			<% unless @cart.ship_to_attention.blank? %><%= @cart.ship_to_attention %><br/><% end %>
			<%= @cart.ship_to_address_1 %><br/>
			<% unless @cart.ship_to_address_2.blank? %><%= @cart.ship_to_address_2 %><br/><% end %>
			<%= @cart.ship_to_city %>, <%= @cart.ship_to_state %> <%= @cart.ship_to_zip %><br/>
			<% unless @cart.ship_to_phone.blank? %><%= @cart.ship_to_phone %><br/><% end %>
			<% unless @cart.email.blank? %><%= @cart.email %><br/><% end %>
		</td>
		<td>
			<%= @cart.bill_to_account_name %><br/>
			<% unless @cart.bill_to_attention.blank? %><%= @cart.bill_to_attention %><br/><% end %>
			<%= @cart.bill_to_address_1 %><br/>
			<% unless @cart.bill_to_address_2.blank? %><%= @cart.bill_to_address_2 %><br/><% end %>
			<%= @cart.bill_to_city %>, <%= @cart.bill_to_state %> <%= @cart.bill_to_zip %><br/>
			<% unless @cart.bill_to_phone.blank? %><%= @cart.bill_to_phone %><br/><% end %>
			<% unless @cart.bill_to_email.blank? %><%= @cart.bill_to_email %><br/><% end %>
		</td>
	</tr>
</table>

<table class="table table-bordered">
	<tr>
		<th width="50%">PO Number</th>
		<td width="50%"><%= @cart.po_number %></td>
	</tr>
	<tr>
		<th width="50%">Notes</th>
		<td width="50%"><%= @cart.notes %></td>
	</tr>
</table>

<table class="table table-bordered">
	<tr>
		<th class="vertical-middle" width="50%">Apply discount code</th>
		<%= simple_form_for :discount_code, url: checkout_apply_code_path, method: :post, remote: true do |f| %>
			<td width="40%"><%= f.input_field :code, :class => "form-control"%></td>
			<td width="10%"><%= f.submit "Apply Code", :class => "btn btn-primary pull-right"%></td>
		<% end %>
	</tr>
</table>

<table class="table table-bordered">
	<tr>
		<%= form_for @checkout, :url => checkout_complete_path, :method => :patch do |f| %>
		<td colspan="2"><%= f.submit "Place Order", :class => "btn btn-primary pull-right"%></td>
		<% end %>
	</tr>
</table>