<table class="table table-bordered">
	
	<tr>
		<th width="5%" class="text-center"></th>
		<th>Item Name/Description</th>
		<th width="10%" class="text-center">Quantity</th>
		<th width="10%" class="text-center">Price</th>
		<th width="10%" class="text-center">Subtotal</th>
	</tr>
	
	<% @cart.contents.active.each_with_index do |li, idx| %>
	<tr>
		<td class="text-center"><%= li.order_line_number %></td>
		<td><%= li.item.name %></td>
		<td class="text-center">
			<%= li.quantity.to_i %>
		</td>
		<td class="text-center"><%= number_to_currency(li.price) %></td>
		<td class="text-center"><%= number_to_currency(li.sub_total) %></td>
	<tr>
	<% end %>
	
	<tr>
		<td colspan="3">Sub Total</td>
		<td colspan="2" class="text-center"><strong><%= number_to_currency(@cart.sub_total) %></strong></td>
	</tr>
	<tr>
		<td colspan="3">Sales Tax</td>
		<td colspan="2" class="text-center"><strong><%= number_to_currency(@cart.tax_total) %></strong></td>
	</tr>
	
</table>

<table class="table table-bordered">
	<tr>
		<th>Shipping Address</th>
		<th>Billing Address</th>
	</tr>
	<tr>
		<td>
			<%= @cart.ship_to_account_name %><br/>
			<% unless @cart.ship_to_attention.blank? %><%= @cart.ship_to_attention %><br/><% end %>
			<%= @cart.ship_to_address_1 %><br/>
			<% unless @cart.ship_to_address_2.blank? %><%= @cart.ship_to_address_2 %><br/><% end %>
			<%= @cart.ship_to_city %>, <%= @cart.ship_to_state %> <%= @cart.ship_to_zip %><br/>
			<%= @cart.ship_to_phone %>
		</td>
		<td>
			<%= @cart.bill_to_account_name %><br/>
			<% unless @cart.bill_to_attention.blank? %><%= @cart.bill_to_attention %><br/><% end %>
			<%= @cart.bill_to_address_1 %><br/>
			<% unless @cart.bill_to_address_2.blank? %><%= @cart.bill_to_address_2 %><br/><% end %>
			<%= @cart.bill_to_city %>, <%= @cart.bill_to_state %> <%= @cart.bill_to_zip %><br/>
			<%= @cart.bill_to_phone %>
		</td>
	</tr>
</table>
	
<table class="table table-bordered">
	<tr>
		<%= form_for @checkout, :url => checkout_shipping_path, :method => :patch do |f| %>
		<td><%= f.select :shipping_method_id, ShippingMethod.all.collect {|a| ["#{a.name} #{number_to_currency(a.calculate(@cart.sub_total))}", a.id]}, {}, {:class => "form-control"} %></td>
		<td><%= f.submit "Continue", :class => "btn btn-primary pull-right" %></td>
		<% end %>
	</tr>
</table>


	

	
	
