<% content_for :app_location do %>Invoices/Index<% end %>
<div id="invoices" class="col-md-12">

	<table class="table table-bordered">

		<tr>
			<th>ID</th>
			<th>Number</th>
			<th>Date</th>
			<th>Total</th>
			<th>Paid</th>
			<th>Balance Due</th>
			<th>&nbsp;</th>
		</tr>
		
		<% @invoices.each do |a| %>
		<tr>
			<td><%= a.id %></td>
			<td><%= a.number %></td>
			<td><%= a.date.strftime("%m/%d/%Y") %></td>
			<td><%= number_to_currency(a.sub_total) %></td>
			<td><%= a.paid ? "Yes" : "No" %></td>
			<td><%= number_to_currency(a.balance_due) %></td>
			<td class="text-right">
			
				<div class="dropdown">
					<button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
						<li><%= link_to("Pay", new_invoice_payment_path(:account_id => a.account_id,:invoice_id => a.id), :remote => true) %></li>
						<li><%= link_to("View", invoice_path(a.id))  %></li>
					</ul>
				</div>
			
			</td>
		</tr>
		<% end %>

	</table>
	
</div>