<div class="col-md-12">
		
	<div class="col-md-4">
		<div class="panel panel-default">
			
			<div class="panel-heading text-center">
				Shipping Info
			</div>
			<% customer = @equipment.customer %>
			<div class="panel-body">
				<% if !customer.name.nil? %><%= customer.name %><% end %>
				<% if !customer.address_1.nil? %><br/><%= customer.address_1 %><% end %>
				<% if !customer.address_2.nil? %><br/><%= customer.address_2 %><% end %>
				<%= customer.city %>, <%= customer.state %> <%= customer.zip %><br/>
				<% if !customer.phone.nil? %><br/><%= number_to_phone(customer.phone) %><% end %>
				<% if !customer.fax.nil? %><br/><%= number_to_phone(customer.fax) %><% end %>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-default">
			
			<div class="panel-heading text-center">
				Billing Info
			</div>
			
			<div class="panel-body">
				<% if !customer.name.nil? %><%= customer.name %><% end %>
				<% if !customer.bill_to_address_1.nil? %><br/><%= customer.bill_to_address_1 %><% end %>
				<% if !customer.bill_to_address_2.nil? %><br/><%= customer.bill_to_address_2 %><% end %>
				<%= customer.bill_to_city %>, <%= customer.bill_to_state %> <%= customer.bill_to_zip %><br/>
				<% if !customer.bill_to_phone.nil? %><br/><%= number_to_phone(customer.bill_to_phone) %><% end %>
				<% if !customer.bill_to_fax.nil? %><br/><%= number_to_phone(customer.bill_to_fax) %><% end %>
			</div>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="panel panel-default">
			
			<div class="panel-heading text-center">
				Equipment Info
			</div>
			
			<div class="panel-body">
				Equipment Number: <%= @equipment.number %><br/>
				Serial Number: <%= @equipment.serial %><br/>
				Location: <%= @equipment.location %><br/>
				Make: <%= @equipment.machine_model.make_name if @equipment.machine_model.present? %><br/>
				Model: <%= @equipment.machine_model.number if @equipment.machine_model.present? %><br/>
				
				Supplies From Equipment:
				<% @equipment.equipment_items.each do |i| %>
				<%= i.inspect %>
				<% end %>
				<hr/>
				Supplies From Model:<br/>
				<% @equipment.machine_model.machine_model_items.each do |i| %>
				<%= "#{i.supply_color.capitalize} #{i.supply_type.capitalize}" %> <%= link_to i.item.number, i.item %><br/>
				<% end %>
			</div>
		</div>
	</div>
	
</div>



	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="active"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">Orders</a></li>
		<li role="presentation"><a href="#alerts" aria-controls="alerts" role="tab" data-toggle="tab">Alerts</a></li>
	</ul>
	
	<div class="tab-content">
	
		<br/>
	
		<div role="tabpanel" class="tab-pane active" id="orders">
		
			<table class="table table-bordered table-condensed table-striped">
				<tr>
					<th>Complete</th>
					<th>Completed At</th>
					<th>Last Update</th>
					<th>Number</th>
					<th width="7%">Sub Total</th>
					<th width="7%">Shipping</th>
					<th width="7%">Sales Tax</th>
					<th width="7%">Total</th>
					<th width="7%">Amount Shipped</th>
					<th width="7%">Amount Fulfilled</th>
					<th width="7%">Balance Due</th>
					<th>&nbsp;</th>
				</tr>
				<% @orders.each do |it| %>
				<tr>
					<td><%= it.completed_at.nil? ? "No" : "Yes" %></td>
					<td><%= it.completed_at.strftime("%m/%d/%Y %I:%M %p") unless it.completed_at.nil? %>
					<td><%= it.updated_at.strftime("%m/%d/%Y %I:%M %p") %>
					<td><%= link_to it.number, it %></td>
					<td><%= number_to_currency(it.sub_total) %></td>
					<td><%= number_to_currency(it.shipping_total) %></td>
					<td><%= number_to_currency(it.tax_total) %></td>
					<td><%= number_to_currency(it.total) %></td>
					<td><%= number_to_currency(it.amount_shipped) %></td>
					<td><%= number_to_currency(it.amount_fulfilled) %></td>
					<td><%= number_to_currency(it.balance_due) %></td>
					<td>
						<div class="dropdown">
							<button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
								<% unless it.locked %>
								<li><%= link_to("Edit", edit_order_path(it.id)) %></li>
								<li><%= link_to("Lock", lock_order_path(it.id), :remote => true, :method => "put") %></li>
								<% else %>
								
									<% unless it.shipped %>
										<li><%= link_to("Ship", new_order_shipment_path(it.id))  %></li>
									<% end %>
									<% unless it.fulfilled %>
									<li><%= link_to("Fulfill", new_order_invoice_path(it.id))  %></li>
									<li><%= link_to("Resend Order Confirmation", resend_order_order_path(:id => it.id), :remote => true, :method => "put") %></li>
									<% else %>
									<li><%= link_to("Resend Invoice Notification", resend_invoice_order_path(:id => it.id), :remote => true, :method => "put") %></li>
									<% end %>
								<% end %>
							</ul>
						</div>
					</td>
				</tr>
				<% end %>
			</table>
		
		</div>
		
		<div role="tabpanel" class="tab-pane" id="alerts">
		
			<table class="table table-bordered table-condensed table-striped">
				<tr>
					<th>Time Ago</th>
					<th>Alert Type</th>
					<th>Asset</th>
					<th>Type</th>
					<th>Color</th>
					<th>Level</th>
					<th>Location</th>
					<th>Active</th>
					<th>Linked Order</th>
				</tr>
				<% @equipment.alerts.each do |a| %>
				
				<% if a.active == false %>
			
				<tr>
					<td><%= time_ago_in_words(a.created_at) %> ago</td>
					<td><%= a.alert_type %>
					<td><%= a.equipment_asset_id %></td>
					<td><%= a.supply_type %></td>
					<td><%= a.supply_color %></td>
					<td><%= a.supply_level %></td>
					<td><%= a.equipment_location %></td>
					<td>
						<a class="btn btn-primary btn-xs" data-toggle="collapse" href="#collapse_<%= a.id %>" aria-expanded="false" aria-controls="collapseExample">Closed</a>
					</td>
					<td>
						<% unless a.order_line_item_id.nil? %>
						<%= link_to("#{Order.find(a.order_line_item.order_id).number}", Order.find(a.order_line_item.order_id)) %>
						<% end %>
					</td>
				</tr>
	
					<% EquipmentAlert.where(alert_identification: a.alert_identification, alert_type: "end").each do |b| %>
			
					<tr class="collapse" id="collapse_<%= a.id %>">
						<td><%= time_ago_in_words(b.created_at) %> ago</td>
						<td><%= b.alert_type %>
						<td><%= b.equipment_asset_id %></td>
						<td><%= b.supply_type %></td>
						<td><%= b.supply_color %></td>
						<td><%= b.supply_level %></td>
						<td><%= b.equipment_location %></td>
						<td></td>
					</tr>
					<% end %>
		
				<% else %>
		
				<tr>
					<td><%= time_ago_in_words(a.created_at) %> ago</td>
					<td><%= a.alert_type %>
					<td><%= a.equipment_asset_id %></td>
					<td><%= a.supply_type %></td>
					<td><%= a.supply_color %></td>
					<td><%= a.supply_level %></td>
					<td><%= a.equipment_location %></td>
					<td><%= a.active ? "Open" : "Closed" %></td>
				</tr>
		
				<% end %>
				
				<% end %>
			</table>
		
		</div>
	
	</div>

</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>

<div id="confirmModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
		
		</div>
	</div>
</div>