<fieldset>	
			
	<div id="name" class="col-md-8">
		<%= f.label :name, :class => "control-label" %>
		<%= f.text_field :name, :class => "form-control" %>
	</div>

	<div id="discount_code_id" class="col-md-4">
		<%= f.label :discount_code_id, :class => "control-label" %>
		<%= f.text_field :discount_code_id, :class => "form-control" %>
	</div>
	
	<div id="amount" class="col-md-4">
		<%= f.label :amount, :class => "control-label" %>
		<%= f.text_field :amount, :class => "form-control" %>
	</div>
	
	<div id="percent" class="col-md-4">
		<%= f.label :percent, :class => "control-label" %>
		<%= f.text_field :percent, :class => "form-control" %>
	</div>
	
	<div id="shipping" class="col-md-4">
		<%= f.label :shipping, :class => "control-label" %>
		<%= f.check_box :shipping, :class => "form-control" %>
	</div>

	<div id="quantity" class="col-md-4">
		<%= f.label :quantity, :class => "control-label" %>
		<%= f.text_field :quantity, :class => "form-control" %>
	</div>

	<div id="item_id" class="col-md-4">
		<%= f.label :item_id, :class => "control-label" %>
		<%= f.text_field :item_id, :class => "form-control" %>
	</div>

	<div id="appliable_id" class="col-md-4">
		<%= f.label :appliable_id, :class => "control-label" %>
		<%= f.text_field :appliable_id, :class => "form-control" %>
	</div>

	<div id="appliable_type" class="col-md-4">
		<%= f.label :appliable_type, :class => "control-label" %>
		<%= f.text_field :appliable_type, :class => "form-control" %>
	</div>
	
</fieldset>