<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Refund Return Authorization</h4>
</div>

<div class="modal-body" id="modal-body">
	
	<% if @return_authorization.errors.any? %>
		<div id="flash_messages" class="alert alert-danger" role="alert">
			<strong><%= @return_authorization.errors.full_messages.join(', ') %></strong>
		</div>
	<% end %>
	
	<%= form_for @return_authorization, as: :return_authorization, url: refund_return_authorization_path(@return_authorization, search_params), :remote => true, method: :put, :html => {:class => "form-horizontal", id: "refund_return_authorization_#{@return_authorization.id}"} do |f| %>
		<fieldset>
			
			<div id="amount" class="col-md-12">
				<%= f.label :amount, :class => "control-label" %>
				<%= f.number_field :amount, :class => "form-control", :step => :any %>
			</div>
		</fieldset>
	<% end %>
	
</div>

<div class="modal-footer">
	<%= button_tag(:name => :commit, :type => :submit, :class => "btn btn-primary", :form => "refund_return_authorization_#{@return_authorization.id}") do %>
		Refund Return Authorization
	<% end %>
</div>
