<% content_for :app_location do %>Admin / Groups / Index<% end %>
<div id="brands" class="col-md-12">

	<table class="table table-bordered table-condensed table-responsive">

		<tr>
			<th class="hidden-xs"><%= sortable "id", "ID" %></th>
			<td>Type</td>
			<th><%= sortable "groups.name", "Name" %></th>
			<th><%= sortable "groups.description", "Description" %></th>
			<th>Members</th>
			<th>&nbsp;</th>
		</tr>
		
		<% @groups.each do |a| %>
		<tr>
			<td class="hidden-xs"><%= a.id %></td>
			<td><%= a.group_type %></td>
			<td><%= a.name %></td>
			<td><%= a.description %></td>
			<td><%= a.members.count %></td>
			<td class="text-center">
			
				<div class="dropdown">
					<button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
						<li><%= link_to("Edit", edit_group_path(a.id), :remote => true)  %></li>
						<li><%= link_to("View", group_path(a.id))  %></li>
					</ul>
				</div>
			
			</td>
		</tr>
		<% end %>

	</table>
	
	<%= link_to new_group_path, :class => "btn btn-default pull-right", :remote => true do %><span class="glyphicon glyphicon-plus"></span><% end %>
	
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>