<% content_for :app_location do %>Admin / Groups / Items<% end %>
<div id="items" class="col-md-12">

	<table class="table table-bordered table-condensed">
		
		<tr>
			<th>Index</th>
			<th>Item Id</th>
			<th>QTY Ordered</th>
			<th>Item Number</th>
			<th>Current Price</th>
			<th>New Price</th>
			<th>Differnce %</th>
			<th>Differnce $</th>
			<th>Total Difference</th>
		</tr>
		
		<% order_ids = Order.where(account_id: @ids).ids %>
		<% start = 0 %>
	<% @items.each do |i|%>
	<% group_item_price = i.item.prices.actual.by_group(@group.id).last %>
	<% if i.qty > 0 %>
	<% start = start + 1  %>
	<%# if group_item_price.nil? %>
	<tr>
		<td><%= start %></td>
		<td><%= i.item_id %></td>
		<td><%= number_with_delimiter(i.qty) %></td>
		<td><%= i.number %></td>
		<td><% prc = group_item_price.nil? ? 0 : group_item_price.price %>
			<%= number_to_currency([prc, i.item.default_price.to_f.to_d].min) %></td>
		<td><%= number_to_currency(i.item.actual_cost_price.to_s.to_d * 1.1416) %></td>
		<td><%= number_to_percentage((([prc, i.item.default_price.to_f].min) - (i.item.actual_cost_price.to_s.to_d * 1.1416)) / ([prc, i.item.default_price.to_f].min) * 100.ceil)  %></td>
		<td><%= number_to_currency(([prc, i.item.default_price.to_f].min) - (i.item.actual_cost_price.to_s.to_d * 1.1416)) %></td>
		<td><%= number_to_currency((([prc, i.item.default_price.to_f].min) - (i.item.actual_cost_price.to_s.to_d * 1.1416)) * i.qty) %></td>
	</tr>
	<%# end %>
	<% end %>
	<% end %>
	</table>

</div>
