<div id="accounts" class="col-md-12">
		
	<table class="table table-bordered table-striped">
		
		<tr>
			<th width="20%">Name</th>
			<th width="80%">Description</th>
		</tr>
		
		<tr>
			<td><%= @group.name %></td>
			<td><%= @group.description %></td>
		</tr>
		
	</table>
	
	<div class="col-md-3">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				Total Sales
			</div>
			<div class="panel-body text-center">
				<%= number_to_currency(@group.orders.includes(:order_line_items, :account).is_submitted.map(&:sub_total).sum) %>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				Total Orders
			</div>
			<div class="panel-body text-center">
				<%= number_to_human(@group.orders.is_submitted.count) %>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-success">
			<div class="panel-heading text-center">
				Total Accounts
			</div>
			<div class="panel-body text-center">
				<%= number_to_human(Account.where(:group_id => @group.id).count) %>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-danger">
			<div class="panel-heading text-center">
				Total Items
			</div>
			<div class="panel-body text-center">
				<%= number_to_human(Price.where(appliable: @group).count) %>
			</div>
		</div>
	</div>

	<div class="col-md-12">
		<div class="panel panel-info">
			<div class="panel-heading text-center">
				Key Month over Month Stats
			</div>
			<div class="panel-body text-center">
				<table class="table">
					<tr>
						<th span="10%">&nbsp;</th>
						<th span="15%">Month to Date</th>
						<th span="15%">Same Time Last Month</th>
						<th span="15%">Last Month</th>
						<th span="15%">2 Months Ago</th>
						<th span="15%">3 Months Ago</th>
						<th span="15%">Year to date</th>
					</tr>
					<tr>
						<td>Revenue</td>
						<td><%= number_to_currency(@group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(Date.today.beginning_of_month, Date.today).map(&:sub_total).sum) %></td>
						<td><%= number_to_currency(@group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(1.month.ago, 1.day.ago).map(&:sub_total).sum) %></td>
						<td><%= number_to_currency(@group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(1.month.ago.beginning_of_month, 1.month.ago.end_of_month).map(&:sub_total).sum) %></td>
						<td><%= number_to_currency(@group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(2.month.ago.beginning_of_month, 2.month.ago.end_of_month).map(&:sub_total).sum) %></td>
						<td><%= number_to_currency(@group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(3.month.ago.beginning_of_month, 3.month.ago.end_of_month).map(&:sub_total).sum) %></td>
						<td><%= number_to_currency(@group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(Date.today.beginning_of_year, Date.today).map(&:sub_total).sum) %></td>
					</tr>
					<tr>
						<td>Orders</td>
						<td><%= @group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(Date.today.beginning_of_month, Date.today).count %></td>
						<td><%= @group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(1.month.ago, 1.day.ago).count %></td>
						<td><%= @group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(1.month.ago.beginning_of_month, 1.month.ago.end_of_month).count %></td>
						<td><%= @group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(2.month.ago.beginning_of_month, 2.month.ago.end_of_month).count %></td>
						<td><%= @group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(3.month.ago.beginning_of_month, 3.month.ago.end_of_month).count %></td>
						<td><%= @group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(Date.today.beginning_of_year, Date.today).count %></td>
					</tr>
					<tr>
						<td>Profit</td>
						<td><%= number_to_currency(@group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(Date.today.beginning_of_month, Date.today).map(&:profit).sum) %></td>
						<td><%= number_to_currency(@group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(1.month.ago, 1.day.ago).map(&:profit).sum) %></td>
						<td><%= number_to_currency(@group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(1.month.ago.beginning_of_month, 1.month.ago.end_of_month).map(&:profit).sum) %></td>
						<td><%= number_to_currency(@group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(2.month.ago.beginning_of_month, 2.month.ago.end_of_month).map(&:profit).sum) %></td>
						<td><%= number_to_currency(@group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(3.month.ago.beginning_of_month, 3.month.ago.end_of_month).map(&:profit).sum) %></td>
						<td><%= number_to_currency(@group.orders.includes(:order_line_items => [:item]).is_submitted.by_date_range(Date.today.beginning_of_year, Date.today).map(&:profit).sum) %></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="active"><a href="#members" aria-controls="members" role="tab" data-toggle="tab">Members</a></li>
		<li role="presentation"><a href="#prices" aria-controls="prices" role="tab" data-toggle="tab">Group Item Prices</a></li>
		<li role="presentation"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">Orders</a></li>
	</ul>
	
	<div class="tab-content">
		
		<br/>
		
		<div role="tabpanel" class="tab-pane active" id="members">
			
				<table class="table table-bordered table-condensed table-striped">
					<tr>
						<th>Name</th>
						<th>Address</th>
						<th>City</th>
						<th>State</th>
						<th>Zip</th>
						<th>Email</th>
					</tr>
					<% @group.accounts.each do |it| %>
					<tr>
						<td><%= it.name %></td>
						<td><%= it.address_1 %></td>
						<td><%= it.city %></td>
						<td><%= it.state %></td>
						<td><%= it.zip %></td>
						<td><%= it.email %></td>
					</tr>
					<% end %>
				</table>
			
		</div>
		
		<div id="prices" class="tab-pane" role="tabpanel">
			
			<table class="table table-bordered table-condensed table-hover">
				<tr>
					<th>Item</th>
					<th>Name</th>
					<th>Price</th>
					<th>Cost Price</th>
					<th>&nbsp;</th>
				</tr>

				<% @group.prices.actual.includes(:item).each do |a| %>

				<tr <% if a.item && (a.price.to_f < a.item.cost_price.to_f) %>class="danger" <% end %>>
					<td><%= a.item.number unless a.item.nil?  %></td>
					<td><%= a.item.name unless a.item.nil?  %></td>
					<td><%= number_to_currency(a.price) %></td>
					<td><%= number_to_currency(a.item.cost_price) unless a.item.nil? %></td>
					<td><%= link_to "Delete", price_path(a.id), :method => :delete %></td>
				</tr>

				<% end %>

			</table>
			
		</div>
		
		<div id="orders" class="tab-pane" role="tabpanel">

			<table class="table table-bordered table-condensed table-hover">
				<tr>
					<th>Number</th>
					<th>Submitted At</th>
					<th>Total</th>
					<th>Profit</th>
				</tr>

				<% @group.orders.includes(:order_line_items => [:line_item_shipments, :line_item_fulfillments, :item]).order(:submitted_at, :number).each do |a| %>

				<tr>
					<td><%= a.number %></td>
					<td><%= a.submitted_at  %></td>
					<td><%= number_to_currency(a.total) %></td>
					<td><%= number_to_currency(a.profit) %></td>
				</tr>

				<% end %>

			</table>
			
		</div>
		
	</div>
	
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div