<% content_for :app_location do %>Users/Index<% end %>
<div id="users" class="col-md-12">
	
	<table class="table table-bordered table-condensed">
		
		<tr>
			<td colspan="9">
				<form id="searchBox" accept-charset="UTF-8" action="/admin/users" method="get" role="search">
					<input type="text" class="form-control" id="term" name="term" placeholder="Enter user name" value="<%= params[:term] %>">
				</form>
			</td>
		</tr>
		
		<tr>
			<th width="2%" class="hidden-xs"><%= sortable "users.id", "ID" %></th>
			<th witdh="20%" class="hidden-xs"><%= sortable "users.first_name", "First Name" %></th>
			<th witdh="20%" class="hidden-xs"><%= sortable "users.last_name", "Last Name" %></th>
			<th class="visible-xs">Full Name</th>
			<th witdh="20%" class="hidden-xs"><%= sortable "users.email", "Email" %></th>
			<th><%= sortable "account.name", "Account" %></th>
			<th>Role</th>
			<th witdh="20%" class="hidden-xs"><%= sortable "users.phone_number", "Phone Number" %></th>
			<th width="13%" class="text-center hidden-xs"><%= sortable "users.current_sign_in_at", "Current Sign In" %></th>
			<th width="13%" class="hidden-xs"><%= sortable "users.last_sin_in_ip", "IP Address" %></th>
			<th width="2%">&nbsp;</th>
		</tr>
		
		<% @users.each do |user| %>
		<tr id="order_<%= user.id %>">
			<%= render :partial => "users/user", :locals => {:user => user}%>
		<tr>
		<% end %>

	</table>
	
	<%= will_paginate @users, renderer: BootstrapPagination::Rails %>
	
	<%= link_to new_user_path, :class => "btn btn-default pull-right", :remote => true do %><span class="glyphicon glyphicon-plus"></span><% end %>
	
</div>

<div id="myModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>



