<div class="panel-group" id="facets">
	
	<% if items.facet(:specs) and items.facet(:specs).rows.count > 0 %>
	
		<% Item.dynamic_facets(items.facet(:specs)).each do |prop_name,val_hash| %>
		
			<% if !val_hash.values.include?(items.total) %>
			
			<div class="panel panel-default">
				
				<div class="panel-heading">
					
					<h4 class="panel-title">
						
						<a data-toggle="collapse" data-parent="#accordion" href="#<%= prop_name.gsub(/[^\w-]/, '') %>Filter">
							<span><%= prop_name %></span>
						</a>
						
					</h4>
					
				</div>
				
					<div id="<%= prop_name.gsub(/[^\w-]/, '') %>Filter" class="panel-collapse collapse">
						
						<ul class="list-group">
							
							<% val_hash.each do |val_name,count| %>
							
								<% if val_name %>
								
								<li class="list-group-item">
									
									<% if params[:specs].blank? || !params[:specs].include?("#{prop_name}|#{val_name}") %>
									
										<% count > (params[:page].to_i - 1) * items.results.per_page ? page_num = params[:page] : page_num = 1 %>
										
										<%= link_to val_name, params.merge(:page => page_num, :specs => params[:specs].to_a + ["#{prop_name}|#{val_name}"]), remote: true %>
										(<%= count%>)
									
									<% else %>
										
										<strong><%= val_name %></strong>
										(<%= link_to "remove", :specs =>  (params[:specs].to_a - ["#{prop_name}|#{val_name}"]), remote: true %>)
										
									<% end %>
								
								</li>
								
								<% end %>
								
							<% end %>
						
						</ul>
					
					</div>
				
			</div>
				
			<% end %>
	
		<% end %>
		
	<% end %>

</div>