<div class="panel-group" id="facets">

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#sortFilter">
				</span>Sort By</a>
			</h4>
		</div>
		<div id="sortFilter" class="panel-collapse collapse in">
			<ul class="list-group">
				<% for sorting in [{name: 'Price Asc', value: ['actual_price', 'asc']}, {name: 'Price Desc', value: ['actual_price', 'desc']}] %>
					<li class="list-group-item">
						<% if params[:sort_by].blank? || params[:sort_by] != sorting[:value] %>
							<%= link_to sorting[:name], params.merge(:sort_by => sorting[:value]), remote: true %>
						<% else %>
						<strong><%= sorting[:name] %></strong> (<%= link_to "remove", params.merge(:sort_by => nil), remote: true %>)
						<% end %>
					</li>
				<% end %>
			</ul>
		</div>
	</div>


	<% i = 0 %>

	<% if items.facet(:actual_price) and items.facet(:actual_price).rows.count > 0 %>

		<% i += 1 %>

		<div class="panel panel-default <%= 'hide' if i > 5 %>">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#accordion" href="#priceFilter">
					</span>Price</a>
				</h4>
			</div>
			<div id="priceFilter" class="panel-collapse collapse <%= 'in' if !params[:price_range].blank? %>">
					<ul class="list-group">
					<% for range in items.facet(:actual_price).rows %>
					<li class="list-group-item">
							<% if params[:price_range].blank? %>
								<%= link_to range_to_currency(range.value), params.merge(:price_range => range.value), remote: true %> (<%= range.count%>)
							<% else %>
							<strong><%= range_to_currency(range.value) %></strong> (<%= link_to "remove", params.merge(:price_range => nil), remote: true %>)
							<% end %>
						</li>
					<% end %>
					</ul>
			</div>
		</div>
	<% end %>
	
	<% if items.facet(:specs) and items.facet(:specs).rows.count > 0 %>
	
		<% Item.dynamic_facets(items.facet(:specs)).each do |prop_name,val_hash| %>
		
			<% if !val_hash.values.include?(items.total) || params[:specs].to_a.join(',').include?("#{prop_name}") %>

				<% i += 1 %>
				
				<div class="panel panel-default <%= 'hide' if i > 5 && !params[:specs].to_a.join(',').include?("#{prop_name}") %>">
					
					<div class="panel-heading">
						
						<h4 class="panel-title">
							
							<a data-toggle="collapse" data-parent="#accordion" href="#<%= prop_name.gsub(/[^\w-]/, '') %>Filter">
								<span><%= prop_name %></span>
							</a>
							
						</h4>
						
					</div>
					
					<div id="<%= prop_name.gsub(/[^\w-]/, '') %>Filter" class="panel-collapse collapse <%= 'in' if params[:specs].to_a.join(',').include?("#{prop_name}") %>">
						
						<ul class="list-group">
							
							<% val_hash.each do |val_name,count| %>
							
								<% if val_name %>
								
									<li class="list-group-item">
										
										<% if params[:specs].blank? || !params[:specs].include?("#{prop_name}|#{val_name}") %>
										
											<% count > (params[:page].to_i - 1) * items.results.per_page ? page_num = params[:page] : page_num = 1 %>
											
											<%= link_to val_name, params.merge(:page => page_num, :specs => params[:specs].to_a + ["#{prop_name}|#{val_name}"]), remote: true %>
											(<%= count%>)
										
										<% else %>
											
											<strong><%= val_name %></strong>
											(<%= link_to "remove", params.merge(:specs =>  (params[:specs].to_a - ["#{prop_name}|#{val_name}"])), remote: true %>)
											
										<% end %>
									
									</li>
								
								<% end %>
								
							<% end %>
						
						</ul>
					
					</div>
					
				</div>
					
			<% end %>
	
		<% end %>

		<% if i > 5 %>

			<div class="panel panel-default show-more">
			  <div class="panel-heading">
			    <h4 class="panel-title">
			      <a>
			      <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
			      <span>Show More</span>
			      </a>
			    </h4>
			  </div>
			</div>			

		<% end %>
		
	<% end %>

</div>

<script>
	$('.panel.show-more a').click(function(){
		$('.panel.panel-default.hide').removeClass('hide');
		$(this).closest('.panel').addClass('hide');
	})
</script>