<div id=item_"<%= i.id %>" class="media item_listing">
	<div class="col-md-9">
		<div class="media-left">
			<a href="#">
				<%= image_tag "https://s3.amazonaws.com/247officesuppy/400/400/#{i.default_image_path}", :class => "media-object", :height => "100", :width => "100" %>
			</a>
		</div>
		<div class="media-body">
			<h4 class="media-heading"><strong><%= "#{i.number}" %></strong> - <%= "#{i.name}" %></h4>
			<p><%= i.description.truncate_words(36, omission: '...') unless i.description.nil? %></p>
			<p>
				<% unless i.category.nil? %><span class="label label-info"><%= i.category.name %></span><% end %>
				<% unless i.brand.nil? %><span class="label label-warning"><%= i.brand.name %></span><% end %>
			</p>
		</div>
	</div>
	

	<div class="col-md-3">
		<div class="pull-right">
			<%= form_for @cart, url: add_to_cart_path, :class => "form-inline", :remote => true do |f| %>
				<div class="form-group">
					<% if current_user and current_user.has_account and i.actual_price(current_user.account.id).to_f <= i.price.to_f %>
					<h4>Your Price: <%= number_to_currency(i.actual_price(current_user.account.id)) %><h4>
					<% else %>
					<h4>Your Price: <%= number_to_currency(i.price) %><h4>
					<% end %>
					<%= f.hidden_field :item_id, :value => i.id %>
					<div class="input-group">
						<%= f.number_field :quantity, :value => 1, :class => "form-control input-sm" %>
					</div>
				</div>
				<%= f.submit "Add To Cart", :class => "btn btn-primary btn-sm" %>
			<% end %>
		</div>
	</div>
</div>
<hr/>