<div id=item_"<%= i.id %>" class="media item_listing">
	
	<div class="col-md-9 col-xs-12">
		<div class="media-left">
			<a href="#">
				<%= image_tag "https://s3.amazonaws.com/247officesuppy/400/400/#{i.default_image_path}", :class => "media-object", :height => "100", :width => "100" %>
			</a>
		</div>
		<div class="media-body">
			<% if params["keywords"] %>
				<% name = i.name.gsub(params["keywords"], "<span class='hlt'>#{params["keywords"]}</span>")  %>
				<% number = i.number.gsub(params["keywords"], "<span class='hlt'>#{params["keywords"]}</span>") %>
				<%# description = i.description.gsub(params["keywords"], "<span class='hlt'>#{params["keywords"]}</span>")if params["keywords"] and i.description %>
			<% else %>
				<% name = i.name  %>
				<% number = i.number %>
				<%# description = i.description %>
			<% end %>
			<h4 class="media-heading"><strong><% if i.slug.blank? or i.default_category.slug.blank? %><%= "#{i.number}" %><% else %><%= link_to "#{number}".html_safe, "#{i.default_category.slug}/#{i.slug}".html_safe %> <% end %></strong> - <%= "#{name}".html_safe %></h4>
			
			<p class="hidden-xs">
				<%# description.html_safe unless description.nil? %>
				<% i.features.limit(3).each do |feature| %>
				<li><%= feature.value %></li>
				<% end %>
			</p>
			<p>
				<% unless i.brand.nil? %><span class="label label-warning"><%= i.brand.name %></span><% end %>
				<%# unless i.category.nil? %><span class="label label-info"><%# i.category.name %></span><%# end %>
				<% i.item_categories.limit(25).each do |cat| %>&nbsp;<span class="label label-info"><%= cat.category.name %></span><% end %>
				<%# i.item_categories.inspect %>
			</p>
		</div>
	</div>
	
	<div class="col-md-3 col-xs-12">
		<div class="pull-right">
			<%= form_for @cart, url: add_to_cart_path, :class => "form-inline", :remote => true do |f| %>
				<div class="form-group">
					<%if (current_user and current_user.has_account and i.actual_price(current_user.account.id).to_f < i.price.to_f) %>
					<h5 class="text-center"><span class="hidden-xs">List Price:</span> <span style="text-decoration:line-through;"><%= number_to_currency(i.price) %></span><h5>
					<h4 class="text-center"><span class="hidden-xs">Your Price:</span> <%= number_to_currency(i.actual_price(current_user.account.id)) %><h4>
					<% else %>
					<h4 class="text-center"><span class="hidden-xs">Your Price:</span> <%= number_to_currency(i.price) %><h4>
					<% end %>
					<%= f.hidden_field :item_id, :value => i.id %>
					<div class="input-group">
						<%= f.number_field :quantity, :value => 1, :class => "form-control input-sm input-block" %>
					</div>
				</div>
				<%= f.submit "Add To Cart", :class => "btn btn-primary btn-sm btn-block" %>
			<% end %>
		</div>
	</div>
	
</div>

<hr/>