
<script text="text/javascript" src="/jquery.auto-complete.js"></script>

<div id="main_nav_bar" class="row">

	<div id="header_banner" class="container">

		<div id="MainLogo" class="col-xs-12 col-sm-4 col-md-3">
			
			<% if @store_logo.nil? %>
				<%= image_tag("247officesupply_logo.png", width: "250", class: "logo") %></a>
			<% else %>	
				<a href="/"><h4><strong><%= @store_name %></strong></h4>
			<% end %>

		</div>

		<div id="MainSearchBox" class="hidden-xs col-sm-5 col-md-6">

			<div class="input-group input-group-lg">
				<form id="searchBox" accept-charset="UTF-8" action="/search" method="get" role="search" data-remote="<%= current_page?(controller: :shop, action: :search) %>">
					<input type="text" class="form-control input-group js-autocomplete" id="keywords" name="keywords" placeholder="Search Over 5,000 Products" value="<%=params['keywords']%>" >
					<div class="input-group-btn">
						<button type="submit" class="btn btn-default"><i class="icon-shopping-search"></i> Go</button>
					</div>
				</form>
			</div>

		</div>

		<div id="MainPhoneNumber" class="hidden-xs col-xs-12 col-sm-3 col-md-3 text-right">
			<phone><%= @store_phone_number %></phone>
		</div>

	</div>
	
	<nav id="main_nav" class="navbar navbar-default" role="navigation">
		
		<div class="container">	
			
			<div class="navbar-header">
			
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				
				<div id="mobile-search" class="col-xs-10 hidden-sm hidden-md hidden-lg hidden-xl">
					<form id="searchBox" accept-charset="UTF-8" action="/search" method="get" role="search" class="navbar-form" data-remote="<%= current_page?(controller: :shop, action: :search) %>">
						<div class="input-group">
							<input type="text" class="form-control js-autocomplete" id="keywords" name="keywords" placeholder="Search Over 5,000 Products" value="<%=params['keywords']%>">
							
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
							</div>
						</div>
					</form>
				</div>
				
			</div>
			
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
				<ul id="account_links" class="nav navbar-nav hidden-md hidden-lg hidden-xl">
					<li>
						<div class="cart">
							<%= render :partial => "shop/cart" %>
						<div>
					</li>

					<% if current_user %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= "#{current_user.email}" %> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><%= link_to I18n.t(:my_account), "/my_account" %></li>
							<li><%= link_to I18n.t(:change_password), "/change_password", :remote => true %></li>
							<li class="divider"></li>
							<li><%= link_to I18n.t(:logout), destroy_user_session_path, :method => "delete" %></li>
						</ul>
					</li>
					<% else %>
					<li><%= link_to I18n.t(:login), new_user_session_path %> or <%= link_to I18n.t(:create_a_new_account), new_user_registration_path %></li>
					<% end %>
				</ul>
			
				<% cache @menu do %>
				<ul class="nav navbar-nav">
				
					<% @menu.each do |cat| %>
						<!-- <li><%# link_to cat.name, "/#{cat.slug}" %></li> -->
						<li class="dropdown mega-dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= cat.name %><span class="caret"></span></a>
							<ul class="dropdown-menu mega-dropdown-menu">
								<% cat.children.limit(cat.children.count/3).each do |child| %>
								<li class="col-sm-4">
									<ul>
										<li><%= link_to child.name, "/#{child.slug}"%></li>
									</ul>
								</li>
								<% end %>
								<% cat.children.limit(cat.children.count/3).offset(cat.children.count/3).each do |child| %>
								<li class="col-sm-4">
									<ul>
										<li><%= link_to child.name, "/#{child.slug}"%></li>
									</ul>
								</li>
								<% end %>
								<% cat.children.limit(cat.children.count/3).offset((cat.children.count/3)*2).each do |child| %>
								<li class="col-sm-4">
									<ul>
										<li><%= link_to child.name, "/#{child.slug}"%></li>
									</ul>
								</li>
								<% end %>
							</ul>
						</li>
					<% end %>
				
				</ul>
				<% end %>
			</div>
		
		</div>
		
	</nav>

</div>

<script>

	$(document).ready(function() {
		$(".js-autocomplete").autoComplete({
			delay: 1000,
			source: function(term, response){
				console.log(term);
				$.getJSON('/search_autocomplete', { q: term }, function(data){ 
					response(data);
					console.log(data);
				 });
			}
		});
	});

	
</script>