<table class="table table-bordered addresses">
  <tr>
    <th colspan="5">Users</th>
  </tr>
  <tr>
    <td colspan="10"><%= link_to "Add User", new_my_account_user_path(id: @account.id), class: "btn btn-primary btn-block btn-xs", remote: true %>
  </tr>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </tr>

  <% @account.users.each do |user|%>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.phone_number %></td>
    </tr>
  <% end %>

</table>
