<% content_for :title do %><%= @category.name %><% end %>

<div class="page-header">
	<h1><%= @category.name %></h1>
</div>

<% if (@category.children.count > 0) || (@items.facets.count > 0) %>
	<% col = 9 %>
	<div class="col-md-3 row">
	
		<ul class="nav nav-pills">
		<% @category.children.each do |cat| %>
			<li><%= link_to "#{cat.name} (#{cat.items.count})", "#{cat.slug}" %></li>
		<% end %>
		</ul>
	
		<%= render :partial => "facets", :locals => {:items => @items} %>
	
	</div>
<% else %>
	<% col = 12 %>
<% end %>

<div class="col-md-<%= col %>">
	<% unless @items.results.nil? %>
		<% @items.results.each do |i| %>
			<% if i && i.active? %>
				<%= render :partial => "shop/item", :locals => {:i => i} unless i.nil? %>
			<% end %>
		<% end %>
	<% else %>
	<p>Sorry, No items were found!</p>
	<% end %>
</div>

<% if @items and @items.results.size > 0 %>
	<%= will_paginate @items.results, renderer: BootstrapPagination::Rails %>
<% end %> 