<% content_for :title do %><%= @category.name %><% end %>

<div class="page-header">
	<h1><%= @category.name %></h1>
</div>

<% if @category.children.count > 0 %>
<ul class="nav nav-pills">
<% @category.children.each do |cat| %>
	<li><%= link_to "#{cat.name}", "#{cat.slug}" %></li>
<% end %>
</ul>
<% end %>

<% @items.each do |i| %>
	<% if i.item.active? %>
		<%= render :partial => "shop/item", :locals => {:i => i.item} unless i.item.nil? %>
	<% end %>
<% end %>

<%= will_paginate @items, renderer: BootstrapPagination::Rails %>