<% content_for :title do %>Home<% end %>

<div class="panel panel-default toner-finder col-md-3">
	
	<div class="panel-body">
		
		<h4 class="text-center"><strong>INK & TONER FINDER</strong></4>
		<h4 class="text-center">FIND INK, TONER & PRINTER SUPPLIES FAST & EASY</h4>
		<br/>
		<select id="finder-make" class="form-control">
			<option>1 | Select Your Printer Brand</option>
			<% Category.find_by(:slug => "inks-toners").children.where(:active => true, :show_in_menu => true).order(:name).each do |make| %>
				<option value="<%= make.id %>"><%= make.name %></option>
			<% end %>
		</select>

		<script>
			$("select#finder-make").change(function(event){
				var make = $("select#finder-make").val();

				var request = $.ajax({
					url : '/categories/'+ make,
					// data: {token: '<%# spree_current_user.spree_api_key %>'},
					dataType : "json"
				});

				request.success(function(data) {
					success_action(data)
				});

				request.error(function(httpObj, textStatus) {       
					if(httpObj.status == 200)
					success_action(data)
					else
					alert("Failed")
				});

				function success_action(data_object) {
					var text = "<option>2 | Select Your Printer Family</option>"
					for (var i=0; i < data_object.length; i++) {
						text += "<option value=" + data_object[i].id + ">" + data_object[i].name + "</option>"
					};
					$("select#finder-family").empty().append(text);
					$("select#finder-family").removeAttr("disabled");
				}

			});
		</script>
		<br/>

		<select id="finder-family" class="form-control" disabled>
			<option>2 | Select Your Printer Family</option>
		</select>

		<script>
			$("select#finder-family").change(function(event){
				var make = $("select#finder-family").val();

				var request = $.ajax({
					url : '/categories/'+ make,
					// data: {token: '<%# spree_current_user.spree_api_key %>'},
					dataType : "json"
				});

				request.success(function(data) {
					success_action(data)
				});

				request.error(function(httpObj, textStatus) {       
					if(httpObj.status == 200)
					success_action(data)
					else
					alert("Failed")
				});

				function success_action(data_object) {
					console.log(data_object)
					var text = "<option>3 | Select Your Printer Model</option>"
					for (var i=0; i < data_object.length; i++) {
						text += "<option value=" + data_object[i].id + " slug=" + data_object[i].slug + ">" + data_object[i].name + "</option>"
					};
					$("select#finder-model").empty().append(text);
					$("select#finder-model").removeAttr("disabled");
				}

			});
		</script>

		<br/>

		<select id="finder-model" class="form-control" disabled>
			<option>3 | Select Your Printer Model</option>
		</select>

		<script>
			$("select#finder-model").change(function(event){
				var make = $("select#finder-model").find(":selected").attr("slug");

				// var request = $.ajax({
				// 	url : '/something/'+ make,
				// 	// data: {token: '<%# spree_current_user.spree_api_key %>'},
				// 	dataType : "json"
				// });

				// request.success(function(data) {
				// 	success_action(data)
				// });
				// 
				// request.error(function(httpObj, textStatus) {       
				// 	if(httpObj.status == 200)
				// 	success_action(data)
				// 	else
				// 	alert("Failed")
				// });

				// function success_action(data_object) {
					window.location.href = "/" + make;
				// }

			});
		</script>
		
	</div>
	
</div>

<div class="everyday-essentials col-md-9">
	
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>
		
		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			
			<div class="item active">
				<%= image_tag "banner_123_toner.png" %>
			</div>
			
			<div class="item">
				<%= image_tag "banner_free_shipping.png" %>
			</div>
			
			<div class="item">
				<%= image_tag "banner_one_stop_shop.png" %>
			</div>
			
		</div>
		
	</div>
	
</div>

<div class="clearfix"></div>

<% if Category.find_by(:slug => "must-have-items") %>
<div class="col-md-12 row container">

			<div class="row container">
				<div class="col-md-9">
					<h3>Must Have Items</h3>
				</div>
				<div class="col-md-3">
				<!-- Controls -->
					<div class="controls pull-right hidden-xs">
					<a class="left fa fa-chevron-left btn btn-success" href="#carousel-example" data-slide="prev"></a>
					<a class="right fa fa-chevron-right btn btn-success" href="#carousel-example" data-slide="next"></a>
				</div>
				</div>
			</div>
			
			<div id="carousel-example" class="row container carousel slide hidden-xs featured-items" data-ride="carousel">
				<div class="carousel-inner">

					<% must_have_items = Category.find_by(:slug => "must-have-items") %>
				
					<% Item.joins(:categories).eager_load(:default_price, :current_user_actual_price, :default_image, :recurring_price, :bulk_prices).where('categories.id = ?', must_have_items.id).each_slice(6).with_index do |slice, idx| %>
						<% active = idx == 0 ? "active" : "" %>
						
						<div class="item <%= active %>">
							
								<% slice.each do |i| %>
									<%= render :partial => "shop/featured_item", :locals => {:item => i} %>
								<% end %>
						
						</div>
						
					<% end %>
				
				</div>
			</div>

</div>
<% end %>
