<% content_for :title do %><%= @category.name %> <%= @item.name %><% end %>

<div class="page-header">
	<h3><strong><%= @item.number %></strong> - <%= @item.name %></h3>
</div>

<div class="col-md-6">
	<table class="table table-bordered table-condensed table-striped">
	<% @item.item_properties.each do |pr| %>
		<tr>
			<td><strong><%= pr.key%></strong></td>
			<td><%= pr.value %></td>
		</tr>
	<% end %>
	</table>
</div>


<%= form_for @cart, url: add_to_cart_path, :remote => true do |f| %>
	<%= f.hidden_field :item_id, :value => @item.id %>
	<%= f.text_field :quantity, :value => 1 %>
	<%= f.submit %>
<% end %>