<table class="table table-bordered">
	<tr>
		<th colspan="5">Recent Orders</th>
	</tr>
	<tr>
		<th>Number</th>
		<th>Date</th>
		<th>PO Number</th>
		<th>Total</th>
		<th>&nbsp;</th>
	</tr>
<% current_user.orders.each do |order|%>
	<tr>
		<td><%= order.number %></td>
		<td><%= order.completed_at.strftime("%m/%d/%Y") %></td>
		<td><%= order.po_number %></td>
		<td><%= number_to_currency(order.total) %></td>
		<td><%= link_to "View Details", "my_account/#{order.number}" %></td>
	</tr>
<% end %>
<table>

<% unless current_user.account.nil? %>
<table class="table table-bordered">

	<tr>
		<th>My Account <%# link_to "Edit", "/edit_account" %></th>
	</tr>
	
	<tr>
		<td>
			<address>
			<%= current_user.account.name %><br/>
			<%= current_user.account.ship_to_address_1 %><br/>
			<%= current_user.account.ship_to_address_2 %><br/>
			<%= current_user.account.ship_to_city %>, <%= current_user.account.ship_to_state %> <%= current_user.account.ship_to_zip %><br/>
			<%= current_user.account.ship_to_phone %>
			</address>
		</td>
	</tr>
</table>
<% end %>