<% content_for :title do %>Search Results: <%= params[:keywords] %><% end %>

<div class="page-header">
	<h1>Search Results: <%= params[:keywords] %></h1>
</div>

<div class="col-md-3 row">
	<%= render :partial => "facets", :locals => {:items => @items} %>
</div>

<div class="row col-md-9" id="search-items">
	<%= render :partial => "search_items", :locals => {:items => @items} %>
</div>

<% if @items and @items.results.size > 0 %>
	<%= will_paginate @items.results, renderer: BootstrapPagination::Rails %>
<% end %>

<script>
  $(document).on('click', '#facets a[data-remote=true]', function(e) {
    history.pushState({}, '', $(this).attr('href'));
  });

  $(window).on('popstate', function () {
    $.get(document.location.href)
  });

  $(document).ajaxStart(function() {
    $('body').append('<div class="preloader-overlay"></div>');
  });

  $(document).ajaxStop(function() {
    $('.preloader-overlay').remove();
  })
</script>