<% content_for :title do %>Search Results: <%= params[:keywords] %><% end %>

<% for brand in @items.facet(:brand).rows %>
<li>
	<% if params[:brand].blank? %>
	<%= link_to brand.value, :brand => brand.value %> (<%= brand.count%>)
	<% else %>
	<strong><%= brand.value %></strong> (<%= link_to "remove", :brand => nil %>)
	<% end %>
</li>
<% end %>

<hr/>
<% for prop in @items.facet(:item_properties).rows %>
<li>
	<% if params[:item_properties].blank? %>
	<%= link_to prop.value, :item_properties => prop.value %> (<%= prop.count%>)
	<% else %>
	<strong><%= prop.value %></strong> (<%= link_to "remove", :item_properties => nil %>)
	<% end %>
</li>
<% end %>

<hr/>
<% for prop in @items.facet(:item_categories).rows %>
<li>
	<% if params[:item_categories].blank? %>
	<%= link_to prop.value, :item_categories => prop.value %> (<%= prop.count%>)
	<% else %>
	<strong><%= prop.value %></strong> (<%= link_to "remove", :item_categories => nil %>)
	<% end %>
</li>
<% end %>

<hr/>
<% for prop in @items.facet(:price).rows %>
<li>
	<% if params[:price].blank? and !prop.value.blank? %>
	<%= link_to (prop.value).to_s.gsub(/\.0\.\./," - ").gsub(/\.0/,""), :price => prop.value %> (<%= prop.count%>)
	<% elsif !prop.value.blank? %>
	<strong><%= prop.value %></strong> (<%= link_to "remove", :price => nil %>)
	<% end %>
</li>
<% end %>


<div class="page-header">
	<h1>Search Results: <%= params[:keywords] %></h1>
</div>

<% unless @items.results.nil? %>
	<% @items.results.each do |item| %>
		<%= render :partial => "item", :locals => {:i => item} %>
	<% end %>
<% else %>
<p>Sorry, No items were found!</p>
<% end %>	  

<% if @items and @items.results.size > 0 %>
	<%= will_paginate @items.results, renderer: BootstrapPagination::Rails %>
<% end %> 