<% if params[:account_id] %>
	
	<% unless @account.nil? %>
	<table class="table table-bordered">

		<tr>
			<td colspan="2">My Account <%# link_to "Edit", "/edit_account" %></td>
		</tr>

		<tr>
			<td>
				<strong>Ship To:</strong>
				<address>
				<%= @account.name %><br/>
				<%= @account.address_1 %><br/>
				<%= @account.address_2 %><br/>
				<%= @account.city %>, <%= @account.state %> <%= @account.zip %><br/>
				<%= @account.phone %>
				<%= @account.email %>
				</address>
			</td>
			<td>
				<strong>Bill To:</strong>
				<address>
				<%= @account.name %><br/>
				<%= @account.bill_address_1 %><br/>
				<%= @account.bill_address_2 %><br/>
				<%= @account.bill_city %>, <%= @account.bill_state %> <%= @account.bill_zip %><br/>
				<%= @account.bill_to_email %>
				</address>
			</td>
		</tr>
		
		<tr>
			<td colspan="2"><%= link_to "View Item History", "/my_account/items", :class => "btn btn-primary" %></td>
		</tr>
	
	</table>
	<% end %>

	<table class="table table-bordered">
		<tr>
			<th colspan="8">Recent Orders</th>
		</tr>
		<tr>
			<th>Number</th>
			<th>Order Date</th>
			<th>PO Number</th>
			<th>Order Total</th>
			<th>Paid</th>
			<th>Balance Due</th>
			<th>Due Date</th>
			<th>&nbsp;</th>
		</tr>
	
		<% @orders.each do |order|%>
		<tr>
			<td><%= order.number %></td>
			<td><%= order.completed_at.strftime("%m/%d/%Y") %></td>
			<td><%= order.po_number %></td>
			<td><%= number_to_currency(order.total) %></td>
			<td><%= order.paid ? "Yes" : "No" %></td>
			<td><%= number_to_currency(order.balance_due) %></td>
			<td><%= order.due_on.strftime("%m/%d/%Y") %></td>
			<td class="text-center">
				<%= link_to "/my_account/order/#{order.number}" , :class => "btn btn-primary btn-xs text-left" do %><i class="fa fa-shopping-cart"></i> ORDER<% end %>
				<% if order.fulfilled %>
					<%= link_to "/my_account/invoice/#{order.number}", :class => "btn btn-success btn-xs text-left" do %><i class="fa fa-file-o"></i> INVOICE<% end %>
				<% end %>
			</td>
		</tr>
		<% end %>
		
		<tr>
			<td class="text-center" colspan="8"><%= will_paginate @orders, renderer: BootstrapPagination::Rails %></td>
		</tr>
	
	<table>
		
<% end %>