<tr>
  <td><%= order.number %></td>
  <td><%= number_to_currency(order.total) %></td>
  <td><%= number_to_currency(order.amount_shipped) %></td>
  <td><%= number_to_currency(order.balance_due) %></td>
  <td><%= order.submitted_at&.strftime("%m/%d/%y %I:%M %p") %></td>
  <td><%= order.state %></td>
  <td class="text-center">
    <div class="dropdown">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
        <li><%= link_to("View", my_account_order_path(order.number)) %></li>
        <% if order.state == 'completed' %>
          <li><%= link_to("Return", new_my_account_return_authorization_path(order_id: order.id), remote: true) %></li>
        <% end %>
      </ul>
    </div>
  </td>
</tr>