<%= form_for @order, :method => :patch, :remote => false, :html => {:class => "form-horizontal"} do |f| %>

	<fieldset>
		
		<div class="col-md-12">
			
			<div class="col-md-3">
				<%= f.label :account_name, :class => "control-label" %>
				<%= f.text_field :account_name, :class => "form-control", data: {autocomplete_source: accounts_path} %>
			</div>
	
			<script>
			jQuery(function() {
				return $('#order_account_name').autocomplete({
					source: $('#order_account_name').data('autocomplete-source'),
					focus: function( event, ui ) {
						$("#order_account_name" ).val( ui.item.value );
						$(".ui-helper-hidden-accessible").remove()
						return false;
					},
					select: function( event, ui ) {
						$("input#order_bill_to_account_name").val(ui.item.name)
						$("input#order_bill_to_address_1").val(ui.item.bill_to_address_1)
						$("input#order_bill_to_address_2").val(ui.item.bill_to_address_2)
						$("input#order_bill_to_city").val(ui.item.bill_to_city)
						$("input#order_bill_to_state").val(ui.item.bill_to_state)
						$("input#order_bill_to_zip").val(ui.item.bill_to_zip)
						$("input#order_bill_to_phone").val(ui.item.bill_to_phone)
						$("input#order_bill_to_email").val(ui.item.bill_to_email)

						$("input#order_ship_to_account_name").val(ui.item.name)
						$("input#order_ship_to_address_1").val(ui.item.ship_to_address_1)
						$("input#order_ship_to_address_2").val(ui.item.ship_to_address_2)
						$("input#order_ship_to_city").val(ui.item.ship_to_city)
						$("input#order_ship_to_state").val(ui.item.ship_to_state)
						$("input#order_ship_to_zip").val(ui.item.ship_to_zip)
						$("input#order_ship_to_phone").val(ui.item.ship_to_phone)
						$("input#order_email").val(ui.item.ship_to_email)
						return false;
					}
				})
			});
			</script>
	
			<div class="col-md-2">
				<%= f.label :number %>
				<%= f.text_field(:number, :class => "form-control") %>
			</div>
	
			<div class="col-md-2">
				<%= f.label "PO Number" %>
				<%= f.text_field(:po_number, :class => "form-control") %>
			</div>
			
			<div class="col-md-2">
				<%= f.label :completed_at %>
				
				<% if @order.completed_at.blank? %>
	
				<%= f.date_field(:completed_at, :class => "form-control") %>
				
				<% else %>
				
				<%= f.datetime_field(:completed_at, :disabled => true, :class => "form-control", :value => @order.completed_at.strftime("%m/%d/%Y %I:%M %p")) %>
				
				<% end %>
			</div>
			
			<div class="col-md-3">
				<%= f.label "Sales Rep" %>
				<%= f.text_field(:sales_rep_name, :class => "form-control", data: {autocomplete_source: sales_reps_path}) %>
			</div>
			
			<script>
			jQuery(function() {
				return $('#order_sales_rep_name').autocomplete({
					source: $('#order_sales_rep_name').data('autocomplete-source')
				})
			});
			</script>
			
			<div class="col-md-12">
				<%= f.label :notes %>
				<%= f.text_area(:notes, :class => "form-control") %>
			</div>
			
		</div>
		
	</fieldset>
	<fieldset>
		
		<div class="col-md-6 address">
			<div class="col-md-12">
				<%= f.label :bill_to_account_name %>
				<%= f.text_field(:bill_to_account_name, :class => " form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-12">
				<%= f.label :bill_to_attention %>
				<%= f.text_field(:bill_to_attention, :class => " form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-12">
				<%= f.label :bill_to_address_1 %>
				<%= f.text_field(:bill_to_address_1, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-12">
				<%= f.label :bill_to_address_2 %>
				<%= f.text_field(:bill_to_address_2, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-6">
				<%= f.label :bill_to_city %>
				<%= f.text_field(:bill_to_city, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-3">
				<%= f.label :bill_to_state %>
				<%= f.text_field(:bill_to_state, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-3">
				<%= f.label :bill_to_zip %>
				<%= f.text_field(:bill_to_zip, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-12">
				<%= f.label :bill_to_email %>
				<%= f.text_field(:bill_to_email, :class => "form-control") %>
			</div>
			
		</div>
		
		<div class="col-md-6 address">
			<div class="col-md-12">
				<%= f.label :ship_to_account_name %>
				<%= f.text_field(:ship_to_account_name, :class => " form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-12">
				<%= f.label :ship_to_attention %>
				<%= f.text_field(:ship_to_attention, :class => " form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-12">
				<%= f.label :ship_to_address_1 %>
				<%= f.text_field(:ship_to_address_1, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-12">
				<%= f.label :ship_to_address_2 %>
				<%= f.text_field(:ship_to_address_2, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-6">
				<%= f.label :ship_to_city %>
				<%= f.text_field(:ship_to_city, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-3">
				<%= f.label :ship_to_state %>
				<%= f.text_field(:ship_to_state, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-3">
				<%= f.label :ship_to_zip %>
				<%= f.text_field(:ship_to_zip, :class => "form-control col-md-12 input-sm")%>
			</div>
			
			<div class="col-md-12">
				<%= f.label :email %>
				<%= f.text_field(:email, :class => "form-control") %>
			</div>
			
		</div>
			
	</fieldset>
	
	<fieldset class="well">
		<div class="col-md-6">
			<%= f.label :shipping_method %>
			<%= f.select(:shipping_method, ShippingMethod.all.collect {|a| [a.name, a.id]}, {:include_blank => "Select Shipping Method"}, {:class => "form-control col-md-12 input-sm"}) %>
		</div>
	
		<div class="col-md-6">
			<%= f.label :shipping_amount %>
			<%= f.text_field(:shipping_amount, :class => "form-control col-md-12 input-sm")%>
		</div>
		
		<div class="col-md-6">
			<%= f.label :tax_rate %>
			<%= f.text_field :tax_rate, :class => "form-control", data: {autocomplete_source: tax_rates_path} %>
		</div>
		
		<div class="col-md-6">
			<%= f.label :tax_amount %>
			<%= f.text_field(:tax_amount, :class => "form-control col-md-12 input-sm")%>
		</div>
		
		<script>
		jQuery(function() {
			return $('#order_tax_rate').autocomplete({
				source: $('#order_tax_rate').data('autocomplete-source')
			});
		});
		</script>
		
	</fieldset>

	<fieldset class="well">
		<div class="col-md-12">
			<%= f.fields_for :order_discount_code do |e| %>
				<%= e.label :discount_code_id %>
				<%= e.select(:discount_code_id, DiscountCode.joins(:effect).all.collect {|a| [a.name, a.id]}, {:include_blank => "Select Discount Code"}, {:class => "form-control col-md-12 input-sm"}) %>
				<%= e.hidden_field(:id) %>
			<% end %>
		</div>
	</fieldset>
<% end %>

<hr/>

<fieldset>
	
	<div id="line_items">
		<%= render "order_line_items/line_items" %>
	</div>
	
	<%= form_for @order_line_item, :remote => true do |form| %>
	
	<table class="table table-bordered table-condensed">
	
		<%= render "order_line_items/form", f: form %>
		
	</table>
	<% end %>
	
	
</fieldset>