<%= form_for @order, :method => :patch, :remote => false, :html => {:class => "form-horizontal"} do |f| %>

	<fieldset>
		
		<div class="col-md-12">
			
			<div class="col-md-3">
				<%= f.label :account %>
				<%= f.select :account_id, @accounts.collect {|p| [p.name, p.id, 
					:account_name => p.name, :ship_to_address_1 => p.ship_to_address_1, :ship_to_address_2 => p.ship_to_address_2, :ship_to_city => p.ship_to_city, :ship_to_state => p.ship_to_state, :ship_to_zip => p.ship_to_zip, :ship_to_phone => p.ship_to_phone, :ship_to_email => p.email, :bill_to_address_1 => p.bill_to_address_1, :bill_to_address_2 => p.bill_to_address_2, :bill_to_city => p.bill_to_city, :bill_to_state => p.bill_to_state, :bill_to_zip => p.bill_to_zip, :bill_to_phone => p.bill_to_phone, :bill_to_email => p.bill_to_email
					]}, {:include_blank => "Select Account"}, {:class => "form-control"} %>
			</div>
	
			<script>
				$("select#order_account_id").change(function(e){
					var ship_to_account_name = $(this).find("option:selected").attr("account_name")
					var ship_to_address_1 = $(this).find("option:selected").attr("ship_to_address_1")
					var ship_to_address_2 = $(this).find("option:selected").attr("ship_to_address_2")
					var ship_to_city = $(this).find("option:selected").attr("ship_to_city")
					var ship_to_state = $(this).find("option:selected").attr("ship_to_state")
					var ship_to_zip = $(this).find("option:selected").attr("ship_to_zip")
					var ship_to_phone = $(this).find("option:selected").attr("ship_to_phone")
					var ship_to_email = $(this).find("option:selected").attr("ship_to_email")
					var bill_to_account_name = $(this).find("option:selected").attr("account_name")
					var bill_to_address_1 = $(this).find("option:selected").attr("bill_to_address_1")
					var bill_to_address_2 = $(this).find("option:selected").attr("bill_to_address_2")
					var bill_to_city = $(this).find("option:selected").attr("bill_to_city")
					var bill_to_state = $(this).find("option:selected").attr("bill_to_state")
					var bill_to_zip = $(this).find("option:selected").attr("bill_to_zip")
					var bill_to_phone = $(this).find("option:selected").attr("bill_to_phone")
					var bill_to_email = $(this).find("option:selected").attr("bill_to_email")
					
					$("input#order_bill_to_account_name").val(bill_to_account_name)
					$("input#order_bill_to_address_1").val(bill_to_address_1)
					$("input#order_bill_to_address_2").val(bill_to_address_2)
					$("input#order_bill_to_city").val(bill_to_city)
					$("input#order_bill_to_state").val(bill_to_state)
					$("input#order_bill_to_zip").val(bill_to_zip)
					$("input#order_bill_to_phone").val(bill_to_phone)
					$("input#order_bill_to_email").val(bill_to_email)
					
					$("input#order_ship_to_account_name").val(ship_to_account_name)
					$("input#order_ship_to_address_1").val(ship_to_address_1)
					$("input#order_ship_to_address_2").val(ship_to_address_2)
					$("input#order_ship_to_city").val(ship_to_city)
					$("input#order_ship_to_state").val(ship_to_state)
					$("input#order_ship_to_zip").val(ship_to_zip)
					$("input#order_ship_to_phone").val(ship_to_phone)
					$("input#order_email").val(ship_to_email)
				})
			</script>
	
			<div class="col-md-3">
				<%= f.label :number %>
				<%= f.text_field(:number, :class => "form-control") %>
			</div>
	
			<div class="col-md-3">
				<%= f.label "PO Number" %>
				<%= f.text_field(:po_number, :class => "form-control") %>
			</div>
			
			<div class="col-md-3">
				<%= f.label :completed_at %>
				
				<% if @order.completed_at.blank? %>
	
				<%= f.date_field(:completed_at, :class => "form-control") %>
				
				<% else %>
				
				<%= f.datetime_field(:completed_at, :disabled => true, :class => "form-control", :value => @order.completed_at.strftime("%m/%d/%Y %I:%M %p")) %>
				
				<% end %>
			</div>

			
			<div class="col-md-12">
				<%= f.label :notes %>
				<%= f.text_area(:notes, :class => "form-control") %>
			</div>
			
		</div>
		
	</fieldset>
	<fieldset>
		
		<div class="col-md-6 address">
			<div class="col-md-12">
				<%= f.label :bill_to_account_name %>
				<%= f.text_field(:bill_to_account_name, :class => " form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-12">
				<%= f.label :bill_to_attention %>
				<%= f.text_field(:bill_to_attention, :class => " form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-12">
				<%= f.label :bill_to_address_1 %>
				<%= f.text_field(:bill_to_address_1, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-12">
				<%= f.label :bill_to_address_2 %>
				<%= f.text_field(:bill_to_address_2, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-6">
				<%= f.label :bill_to_city %>
				<%= f.text_field(:bill_to_city, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-3">
				<%= f.label :bill_to_state %>
				<%= f.text_field(:bill_to_state, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-3">
				<%= f.label :bill_to_zip %>
				<%= f.text_field(:bill_to_zip, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-12">
				<%= f.label :bill_to_email %>
				<%= f.text_field(:bill_to_email, :class => "form-control") %>
			</div>
			
		</div>
		
		<div class="col-md-6 address">
			<div class="col-md-12">
				<%= f.label :ship_to_account_name %>
				<%= f.text_field(:ship_to_account_name, :class => " form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-12">
				<%= f.label :ship_to_attention %>
				<%= f.text_field(:ship_to_attention, :class => " form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-12">
				<%= f.label :ship_to_address_1 %>
				<%= f.text_field(:ship_to_address_1, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-12">
				<%= f.label :ship_to_address_2 %>
				<%= f.text_field(:ship_to_address_2, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-6">
				<%= f.label :ship_to_city %>
				<%= f.text_field(:ship_to_city, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-3">
				<%= f.label :ship_to_state %>
				<%= f.text_field(:ship_to_state, :class => "form-control col-md-12 input-sm")%>
			</div>
			<div class="col-md-3">
				<%= f.label :ship_to_zip %>
				<%= f.text_field(:ship_to_zip, :class => "form-control col-md-12 input-sm")%>
			</div>
			
			<div class="col-md-12">
				<%= f.label :email %>
				<%= f.text_field(:email, :class => "form-control") %>
			</div>
			
		</div>
			
	</fieldset>
	
	<fieldset class="well">
		<div class="col-md-6">
			<%= f.label :shipping_method %>
			<%= f.select(:shipping_method, ShippingMethod.all.collect {|a| [a.name, a.id]}, {:include_blank => "Select Shipping Method"}, {:class => "form-control col-md-12 input-sm"}) %>
		</div>
	
		<div class="col-md-6">
			<%= f.label :shipping_amount %>
			<%= f.text_field(:shipping_amount, :class => "form-control col-md-12 input-sm")%>
		</div>
		
		<div class="col-md-6">
			<%= f.label :tax_rate %>
			<%= f.text_field :tax_rate, :class => "form-control", data: {autocomplete_source: tax_rates_path} %>
		</div>
		
		<div class="col-md-6">
			<%= f.label :tax_amount %>
			<%= f.text_field(:tax_amount, :class => "form-control col-md-12 input-sm")%>
		</div>
		
		<script>
		jQuery(function() {
			return $('#order_tax_rate').autocomplete({
				source: $('#order_tax_rate').data('autocomplete-source')
			});
		});
		</script>
		
	</fieldset>
	
<% end %>

<hr/>

<fieldset>
	
	<div id="line_items">
		<%= render "order_line_items/line_items" %>
	</div>
	
	<%= form_for @order_line_item, :remote => true do |form| %>
	
	<table class="table table-bordered table-condensed">
	
		<%= render "order_line_items/form", f: form %>
		
	</table>
	<% end %>
	
	
</fieldset>