<% content_for :app_location do %>Admin / Orders / Index<% end %>
<div id="orders" class="col-md-12">
	<%# orders = Order.unscoped %>
	<ul class="nav nav-pills">
		<li><%= link_to orders_url do %>Completed Orders <span class="badge"><%# orders.unshipped.count %></span><% end %></li>
		<li><%= link_to locked_orders_url do %>Locked Orders <span class="badge"><%# orders.locked.count %></span><% end %></li>
		<li><%= link_to shipped_orders_url do %>Shipped Orders <span class="badge"><%# orders.shipped.count %></span><% end %></li>
		<li><%= link_to fulfilled_orders_url do %>Fulfilled Orders <span class="badge"><%# Order.is_complete.fulfilled.count %></span><% end %></li>
		<li><%= link_to unfulfilled_orders_url do %>UnFulfilled Orders <span class="badge"><%# orders.unfulfilled.count %></span><% end %></li>
		<li><%= link_to incomplete_orders_url do %>Incomplete Orders <span class="badge"></span><% end %></li>
	</ul>

	<table class="table table-bordered table-condensed">
		
		<tr>
			<td colspan="9">
				<form id="searchBox" accept-charset="UTF-8" action="<%= request.env['PATH_INFO'] %>" method="get" role="search">
					<input type="text" class="form-control" id="term" name="term" placeholder="Enter user name" value="<%= params[:term] %>">
				</form>
			</td>
		</tr>
		
		<tr>
			
			<th witdh="5%"><%= sortable "orders.number", "Number" %></th>
			<th><%= sortable "accounts.name", "Account" %></th>
			<th width="10%">Sub Total</th>
			<th width="10%" class="hidden-xs">Shipped</th>
			<th width="10%" class="hidden-xs">Fulfilled</th>
			<th width="13%" class="text-center hidden-xs"><%= sortable "orders.completed_at", "Completed At" %></th>
			<th width="4%" class="hidden-xs"><%= sortable "orders.locked", "Locked" %></th>
			<th width="2%">&nbsp;</th>
		</tr>
		
		<% @orders.each do |order| %>
		<tr id="order_<%= order.id %>">
			<%= render :partial => "orders/order", :locals => {:order => order}%>
		<tr>
		<% end %>

	</table>
	
	<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
	
	<%= link_to new_order_path, :class => "btn btn-default pull-right", :remote => false do %><span class="glyphicon glyphicon-plus"></span><% end %>
	
</div>

<div id="myModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>