<% content_for :app_location do %>Orders/Index<% end %>
<div id="orders" class="col-md-12">
	
	<ul class="nav nav-pills">
		<li><%= link_to "Completed Orders", orders_url %></li>
		<li><%= link_to "Incomplete Orders", incomplete_orders_url %></li>
		<li><%= link_to "Locked Orders", locked_orders_url %></li>
	</ul>

	<table class="table table-bordered">

		<tr>
			<th width="2%">ID</th>
			<th witdh="5%">Number</th>
			<th width="42%">Account</th>
			<th width="8%">Sub Total</th>
			<th width="8%">Shipped</th>
			<th width="8%">Fulfilled</th>
			<th width="13%" class="text-center">Completed At</th>
			<th width="4%">Locked</th>
			<th width="8%">IP Address</th>
			<th width="2%">&nbsp;</th>
		</tr>
		
		<% @orders.each do |order| %>
		<tr id="order_<%= order.id %>">
			<%= render :partial => "orders/order", :locals => {:order => order}%>
		<tr>
		<% end %>

	</table>
	
	<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
	
	<%= link_to new_order_path, :class => "btn btn-default pull-right", :remote => true do %><span class="glyphicon glyphicon-plus"></span><% end %>
	
</div>

<div id="myModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>