<% content_for :app_location do %>Orders/Index<% end %>
<div id="orders" class="col-md-12">
	
	<div class="widget panel">

		<table class="table table-bordered">
	
			<tr>
				<th width="2%">ID</th>
				<th witdh="5%">Number</th>
				<th width="46%">Account</th>
				<th width="7%">Sub Total</th>
				<th width="7%">Shipped</th>
				<th width="7%">Fulfilled</th>
				<th width="16%">Completed At</th>
				<th width="8%">IP Address</th>
				<th width="2%">&nbsp;</th>
			</tr>
			
			<% @orders.each do |a| %>
			<tr>
				<td><%= a.id %></td>
				<td><%= a.number %></td>
				<td><%= a.account.name unless a.account.blank? %></td>
				<td><%= number_to_currency(a.sub_total) %><%# number_to_currency(a.sum) unless a.sum.nil? %></td>
				<td><%= number_to_currency(a.amount_shipped) %></td>
				<td><%= number_to_currency(a.amount_fulfilled) %></td>
				<td><%= a.completed_at.strftime("%m/%d/%Y %I:%M %p") unless a.completed_at.nil? %></td>
				<td><%= a.ip_address %></td>
				<td class="text-right">
				
					<div class="dropdown">
						<button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							<span class="caret"></span>
						</button>
						<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
							<li><%= link_to("View", order_path(a.id))  %></li>
							<% unless a.locked %>
							<li><%= link_to("Edit", edit_order_path(a.id), :remote => true) %></li>
							<% else %>
							<li><%= link_to("Ship", new_order_shipment_path(a.id))  %></li>
							<li><%= link_to("Fulfill", new_order_invoice_path(a.id))  %></li>
							<% end %>
						</ul>
					</div>
				
				</td>
			</tr>
			<% end %>
	
		</table>

	</div>
	
	<%= link_to new_order_path, :class => "btn btn-default pull-right", :remote => true do %><span class="glyphicon glyphicon-plus"></span><% end %>
	
</div>

<div id="myModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>