<% content_for :app_location do %>Orders/Index<% end %>
<div id="orders" class="col-md-12">
	
	<ul class="nav nav-pills">
		<li><%= link_to "Completed Orders", orders_url %></li>
		<li><%= link_to "Incomplete Orders", incomplete_orders_url %></li>
		<li><%= link_to "Locked Orders", locked_orders_url %></li>
		<li><%= link_to "Shipped Orders", shipped_orders_url %></li>
		<li><%= link_to "Fulfilled Orders", locked_orders_url %></li>
	</ul>

	<table class="table table-bordered table-condensed table-responsive">
		
		<tr>
			
			<th witdh="5%"><%= sortable "orders.number", "Number" %></th>
			<th width="42%"><%= sortable "accounts.name", "Account" %></th>
			<th width="10%">Sub Total</th>
			<th width="10%">Shipped</th>
			<th width="10%">Fulfilled</th>
			<th width="13%" class="text-center"><%= sortable "orders.completed_at", "Completed At" %></th>
			<th width="4%"><%= sortable "orders.locked", "Locked" %></th>
			<th width="2%">&nbsp;</th>
		</tr>
		
		<% @orders.each do |order| %>
		<tr id="order_<%= order.id %>">
			<%= render :partial => "orders/order", :locals => {:order => order}%>
		<tr>
		<% end %>

	</table>
	
	<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
	
	<%= link_to new_order_path, :class => "btn btn-default pull-right", :remote => true do %><span class="glyphicon glyphicon-plus"></span><% end %>
	
</div>

<div id="myModal" class="modal fade" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>