<div id="order" class="col-md-12">
		
	<table class="table table-bordered table-condensed thead">
		<tr class="bg-primary">
			<th width="33.3%">Remit To</th>
			<th width="33.4%">Shipping Address</th>
			<th width="33.3%">Billing Address</th>
		</tr>
		<tr>
			<td>
				24/7 Office Supply, Inc.<br/>
				2957 NW 27th Street<br/>
				Fort Lauderdale, FL 33311<br/>
				(888) 247-8775
			</td>
			<td>
				<%= @order.ship_to_account_name %><br/>
				<% unless @order.ship_to_attention.blank? %><%= @order.ship_to_attention %><br/><% end %>
				<%= @order.ship_to_address_1 %><br/>
				<% unless @order.ship_to_address_2.blank? %><%= @order.ship_to_address_2 %><br/><% end %>
				<%= @order.ship_to_city %>, <%= @order.ship_to_state %> <%= @order.ship_to_zip %><br/>
				<%= @order.ship_to_phone %>
			</td>
			<td>
				<% unless @order.bill_to_account_name.blank? %><%= @order.bill_to_account_name %><br/><% end %>
				<% unless @order.bill_to_attention.blank? %><%= @order.bill_to_attention %><br/><% end %>
				<% unless @order.bill_to_address_1.blank? %><%= @order.bill_to_address_1 %><br/><% end %>
				<% unless @order.bill_to_address_2.blank? %><%= @order.bill_to_address_2 %><br/><% end %>
				<%= @order.bill_to_city unless @order.bill_to_city.blank? %>, <%= @order.bill_to_state unless @order.bill_to_state.blank?%> <%= @order.bill_to_zip unless @order.bill_to_zip.blank? %><br/>
				<%= @order.bill_to_phone unless @order.bill_to_phone.blank? %>
			</td>
		</tr>
	</table>
	
	<table class="table table-bordered table-condensed">
		<tr class="bg-primary">
			<th width="25%">Order Number</th>
			<th width="25%">Order Date</th>
			<th width="25%">Locked</th>
			<th width="25%">PO Number</th>
		</tr>
		<tr>
			<td><%= @order.number %></td>
			<td><%= @order.completed_at.strftime("%m/%d/%Y %I:%M %p") unless @order.completed_at.nil? %></td>
			<td><%= @order.locked ? "Yes" : "No" %></td>
			<td><%= @order.po_number %></td>
		</tr>
	</table>
	
	<table class="table table-bordered table-condensed">

		<tr class="bg-primary">
			<th width="64%" class="text-left" colspan="2">Item Name/Description</th>
			<th width="6%" class="text-center">Qty</th>
			<th width="6%" class="text-center">Cancel</th>
			<th width="6%" class="text-center">Ship</th>
			<th width="6%" class="text-center">Billed</th>
			<th width="6%" class="text-center">Price</th>
			<th width="6%" class="text-center">Subtotal</th>
		</tr>

		<% @order_line_items.active.each_with_index do |li, idx| %>
		<tr class="line_items">
			<td class="text-center"><%= li.order_line_number %></td>
			<td><%= li.item.number unless li.item.nil? %> / <%= li.item.name unless li.item.nil? %></td>
			<td class="text-center"><%= li.quantity.to_i %></td>
			<td class="text-center"><%= li.quantity_canceled.to_i %></td>
			<td class="text-center"><%= li.quantity_shipped  %></td>
			<td class="text-center"><%= li.quantity_fulfilled  %></td>
			<td class="text-center"><%= number_to_currency(li.price) %></td>
			<td class="text-center"><%= number_to_currency(li.sub_total) %></td>
		<tr>
		<% end %>

		<tr class="line_items">
			<td colspan="6">Sub Total</td>
			<td colspan="2" class="text-center"><strong><%= number_to_currency(@order.sub_total) %></strong></td>
		</tr>
		<tr class="line_items">
			<td colspan="6"><%= "#{@order.order_shipping_method.name} - " unless  @order.order_shipping_method.nil?%>Shipping</td>
			<td colspan="2" class="text-center"><strong> <%= number_to_currency(@order.order_shipping_method.amount) unless  @order.order_shipping_method.nil? %></strong></td>
		</tr>
		<tr class="line_items">
			<td colspan="6"><%= "#{@order.order_tax_rate.name} - " unless  @order.order_tax_rate.nil?%>Tax</td>
			<td colspan="2" class="text-center"><strong> <%= number_to_currency(@order.tax_total)%></strong></td>
		</tr>
		<tr class="line_items">
			<td colspan="6">Order Total</td>
			<td colspan="2" class="text-center"><strong> <%= number_to_currency(@order.total) %></strong></td>
		</tr>
		
		<tr>
			<td colspan="6">Payments</td>
			<td colspan="2" class="text-center"><strong> <%= @order.payments.blank? ? number_to_currency(0) : number_to_currency(@order.payments_total.to_d) %></strong></td>
		</tr>
		<tr>
			<td colspan="6">Balance Due</th>
			<td colspan="2" class="text-center"><strong> <%=  number_to_currency(@order.balance_due) %></strong></td>
		</tr>
		
	</table>
	
	<table class="table table-bordered table-condensed">
		
		<tr class="line_items">
			<th colspan="3" class="bg-primary">Tracking Numbers</th>
		</tr>
		<% @shipments.each do |shipment| %>
			<tr class="line_items">
				<td><%= shipment.carrier %></td>
				<td><%= shipment.ship_date.strftime("%m/%d/%y") unless shipment.ship_date.nil? %></td>
				<td><% shipment.tracking_numbers.each do |tr|%><%= link_to tr.number, tr.link %><br/><% end %></td>
			</tr>
		<% end %>
	</table>
	
	<table class="table table-bordered table-condensed">
		
		<tr class="line_items">
			<th width="20%" class="bg-primary">Order ID</th>
			<th width="20%" class="bg-primary">IP Address</th>
			<th width="20%" class="bg-primary">Created At</th>
			<th width="20%" class="bg-primary">Updated At</th>
			<th width="20%" class="bg-primary">Locked</th>
		</tr>
		
		<tr>
			<td><%= @order.id %></td>
			<td><%= @order.ip_address %></td>
			<td><%= @order.created_at.strftime("%m/%d/%y %I:%M:%S %p") unless @order.created_at.nil? %></td>
			<td><%= @order.updated_at.strftime("%m/%d/%y %I:%M:%S %p") unless @order.updated_at.nil? %></td>
			<td><%= @order.locked ? "Yes" : "No" %></td>
		</tr>
	</table>
	
</div>