<div id="order" class="col-md-12">
	<table class="table table-condensed table-bordered">
		
		<tr>
			<th>Order Number</th>
			<th>Due Date</th>
			<th>Balance Due</th>
			<th>Applied Amount</th>
		</tr>
		
		<% @unpaid_orders.order(:number).each_with_index do |order, idx| %>
			<% unless order.balance_due == 0 %>
		<tr>
			<td><%= order.number %></td>
			<td><%= order.due_date.strftime("%m/%d/%Y") unless order.due_date.blank? %></td>
			<td>
				<%= number_to_currency(order.balance_due) %>
				<%= hidden_field_tag "payment[order_payment_applications_attributes][#{idx}][order_id]", order.id.to_i %>
			</td>
			<td><%= text_field_tag "payment[order_payment_applications_attributes][#{idx}][applied_amount]", order.balance_due.to_d.to_s, unauthorized: order.unauthorized_payment_amount.to_d.to_s, :class => "form-control" %></td>
		</tr>
			<% end %>
		<% end %>

		<script>
			$('form#new_payment').submit(function(){
				var ready = true
				$.each($(':input[id$="applied_amount"]'), function() {
					var idx = $(':input[id$="applied_amount"]').attr('id').match(/\d+/)[0]
					var order_id = $(':input[id$="_' + idx + '_order_id"]').val()
				  if ( Number($(this).val()) > Number($(this).attr('unauthorized')) ) {
				  	if (!confirm('There is pending payment for order ' + order_id + '. Proceed?')) {
				  		ready = false;
				  	}
				  }
				});
				$(this).children(':input[name$="[applied_amount]"]').each(function() {
					$(this).attr('disabled', Number($(this).val()) == 0 )
				});
				return ready
			})
		</script>
	</table>
</div>