<% content_for :title do %><%= @category.name %><% end %>

<%= render :partial => "shop/common/page_header" %>

<section>
	
	<div class="container">
		
		<div class="row">
			
			<% if @items.results.size > 0 %>
			<!-- RIGHT -->
			<div class="col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
				
				
				
				<!-- CAROUSEL -->
				<div class="owl-carousel buttons-autohide controlls-over margin-bottom-30 radius-4" data-plugin-options='{"singleItem": true, "autoPlay": 6000, "navigation": true, "pagination": true, "transitionStyle":"fade"}'>
					<!-- item -->
					<div>
						<div class="caption-slider-default">
							<div class="display-table">
								<div class="display-table-cell vertical-align-middle">
									<div class="caption-container text-left">
										<h2>SHOP <strong>NOW</strong> &ndash; 50% OFF</h2>
										<p>
											This is a category banner rotator<br />
											for any category of your shop.
										</p>
									</div>
								</div>
							</div>
						</div>
						
						<img class="img-responsive radius-4" src="assets/supply.us/demo/shop/banners/top_2.png" width="851" height="335" alt="">
					</div>
					<!-- /item -->
					
					<!-- item -->
					<div>
						<div class="caption-slider-default">
							<div class="display-table">
								<div class="display-table-cell vertical-align-middle">
									<div class="caption-container text-left">
										<h2>NOW <strong>SHOP</strong> &ndash; 30% OFF</h2>
										<p>
											for any category of your shop.<br />
											This is a category banner rotator
										</p>
									</div>
								</div>
							</div>
						</div>
						
						<img class="img-responsive radius-4" src="assets/supply.us/demo/shop/banners/top_1.png" width="851" height="335" alt="">
					</div>
					<!-- /item -->
					
				</div>
				<!-- /CAROUSEL -->
				
				<!-- LIST OPTIONS -->
				<div class="clearfix shop-list-options margin-bottom-20">
					
					<div class="pull-right">
						
						<%= render :partial => "shop/common/pagination" %>
						
					</div>
								
					<div class="options-left">
						
						<select>
							<option value="pos_asc">Position ASC</option>
						</select>
						
						<a class="btn active fa fa-th" href="shop-4col-left.html"><!-- grid --></a>
						<a class="btn fa fa-list" href="shop-1col-left.html"><!-- list --></a>
						<%= console %>
					</div>
					
				</div>
				<!-- /LIST OPTIONS -->
				
				<ul class="shop-item-list row list-inline nomargin">
					
					<% unless @items.results.nil? %>
						<% @items.results.each do |i| %>
							<% if i && i.active? %>
								<%= render :partial => "shop/common/item", :locals => {:item => i} unless i.nil? %>
							<% end %>
						<% end %>
					<% else %>
						<p>Sorry, No items were found!</p>
					<% end %>
					
				</ul>
					
				<hr />
				
				<%= render :partial => "shop/common/pagination" %>
					
			</div>
			<!-- /RIGHT -->
			
			<!-- LEFT -->
				
			<%= render :partial => "shop/common/sidebar", :locals => {:items => @items} %>
			
			<!-- /LEFT -->
			<% else %>
				<ul class="shop-item-list row list-inline nomargin">
				<% @category.children.each do |cat| %>
			
					<div class="panel">
						<div class="panel-heading">
							<%= cat.name %>
						</div>
					</div>
				</ul>
				<% end %>
				
			<% end %>
			
		</div>
		
	</div>
	
</section>