<div id="sku_group" class="col-md-12">
		
	<% if @sku_group.image %>
		<div class="col-md-12">
			<%= image_tag @sku_group.image_url, class: 'media-object' %>
		</div>
	<% end %>
	
	<table class="table table-bordered table-striped">
		
		<tr>
			<th width="10%">ID</th>
			<th width="10%">Name</th>
		</tr>
		
		<tr>
			<td><%= @sku_group.id %></td>
			<td><%= @sku_group.name %></td>
		</tr>
		
	</table>

  <table class="table table-bordered table-condensed table-striped">
    <tr class="line_items">
      <th colspan="4" class="bg-primary">Items</th>
    </tr>
    <tr>
      <th>Number</th>
      <th>Name</th>
      <th>Default Price</th>
      <th>Times Purchased</th>
    </tr>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.number, item %></td>
        <td><%= item.name %></td>
        <td><%= number_to_currency(item.default_price_value) %></td>
        <td><%= item.times_sold.to_i %></td>
      </tr>
    <% end %>
  </table>

  <%= will_paginate @items, renderer: BootstrapPagination::Rails %>
	
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>