<fieldset>	
	
	<% unless params[:copy] %>
	<div id="item" class="col-md-12">
		<%= f.label :item_number, :class => "control-label" %>
		<%= f.text_field :item_number, :class => "form-control", data: {autocomplete_source: items_path} %>
	</div>
	<% end %>
	
	<% if params[:copy] %>
	<%= hidden_field_tag :copy, true %>
	<%= hidden_field_tag :group_id, @group.id %>
	<div id="copy_from" class="col-md-12">
		<%= f.label :copy_from, :class => "control-label" %>
		<%= f.text_field :copy_from, :class => "form-control", data: {autocomplete_source: groups_path} %>
	</div>
	
	<div id="price_factor" class="col-md-12">
		<label class="control-label">Price Factor</label>
		<%= text_field_tag :price_factor, nil,:class => "form-control" %>
	</div>
	<% end %>
	
	<% unless params[:copy] %>
	<div id="group" class="col-md-12">
		<%= f.label :group_name, :class => "control-label" %>
		<%= f.text_field :group_name, :class => "form-control", data: {autocomplete_source: groups_path} %>
	</div>
	
	<div id="price" class="col-md-12">
		<%= f.label :price, :class => "control-label" %>
		<%= f.text_field :price, :class => "form-control" %>
	</div>
	<% end %>
	
	<script>
	jQuery(function() {
		return $('#group_item_price_copy_from').autocomplete({
			source: $('#group_item_price_copy_from').data('autocomplete-source')
		})
	});
	
	jQuery(function() {
		return $('#group_item_price_group_name').autocomplete({
			source: $('#group_item_price_group_name').data('autocomplete-source')
		})
	});
	</script>
	
</fieldset>