<% content_for :app_location do %>Items Import/New<% end %>
<div id="items" class="col-md-offset-1 col-md-10">
	
	<h1>Item Import</h1>

	<% if alert %>
		<br>
		<div class="alert alert-danger alert-dismissible" role="alert">
			<strong>Error!: </strong> <%=alert%>
		</div>
		<br>
	<% end %>
	
	<p>A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are allowed.</p>

	<ul>
	<% Item.columns.each do |column| %>
		<%# if column.name.in? ["id", *Item.accessible_attributes] %>
		<li><strong><%= column.name %></strong> - <%= column.type.to_s.titleize %> type</li>
		<%# end %>
	<% end %>
	</ul>
	
	<p>If an <strong>id</strong> is supplied it will update the matching record instead of creating a new one.</p>
	
	<%= form_for @item_import, :multipart => true do |f| %>
	
		<% if @item_import.errors.any? %>
		<div id="error_explanation">
			
			<h2><%= pluralize(@item_import.errors.count, "error") %> prohibited this import from completing:</h2>
			
			<ul>
			
			<% @item_import.errors.full_messages.each do |msg| %>
			
				<li><%= msg %></li>
			
			<% end %>
			
			</ul>
		
		</div>
		<% end %>
		
		<div class="field">
		<%= f.file_field :file %>
		</div>
		<br>
		<button type="submit" class="btn btn-primary">Import</button>

		
	<% end %>
<br>
<br>
	
</div>

