<fieldset>	

	<div id="name" class="col-md-12">
		<%= f.label :payment_type, :class => "control-label" %>
		<%= f.select :payment_type, ['CreditCardPayment', 'CheckPayment'], {}, {:class => "form-control"}%>
	</div>
	
	<script>
		$(function() {
			$('#payment_payment_type').change(function() {
				if ($(this).val() == "CreditCardPayment") {
					$('#payment_credit_card_id').prop('disabled', false);
					$('#payment_check_number').prop('disabled', true);
				} else {
					$('#payment_credit_card_id').prop('disabled', true);
					$('#payment_check_number').prop('disabled', false);
				}
			})
		})
	</script>

	<div id="address" class="col-md-12">
		<%= f.label :amount, :class => "control-label" %>
		<%= f.text_field :amount, :class => "form-control" %>
	</div>
	
	<div id="account_name" class="col-md-12">
		<%= f.label :account_name, :class => "control-label" %>
		<%= f.text_field :account_name, :class => "form-control", data: {autocomplete_source: accounts_path} %>
	</div>
	
	<div id="credit_card_id" class="col-md-12">
		<%= f.label :credit_card, :class => "control-label" %>
		<%= f.select :credit_card_id, [], {}, :class => "form-control", disabled: @payment.payment_type != 'CreditCardPayment' %>
	</div>
	
	<div id="check_number" class="col-md-6">
		<%= f.label :check_number, :class => "control-label" %>
		<%= f.text_field :check_number, :class => "form-control", disabled: @payment.payment_type != 'CheckPayment' %>
	</div>
	
	<div id="check_number" class="col-md-6">
		<%= f.label :date, :class => "control-label" %>
		<%= f.date_field :date, :class => "form-control" %>
	</div>
	
	
	<script>
	jQuery(function() {
		return $('#payment_account_name').autocomplete({
			source: $('#payment_account_name').data('autocomplete-source'),
      select: function( event, ui ) {
				var $el = $("#payment_credit_card_id");
				$el.empty(); // remove old options
				$.each(ui.item.credit_cards, function(key,value) {
				  $el.append($("<option></option>")
				     .attr("value", value).text(key));
				});
				$("#payment_account_name" ).val(ui.item.label);
        return false;
      }
		})
	});
	
	jQuery(function(){
		$("input#payment_account_name").blur(function(){
			var account = $("input#payment_account_name").val();
			var request = $.ajax({
				url : '/admin/orders/unpaid.js?account_name=' + account,
			});
			
			
			request.success(function(data) {
				
			});
			
			request.error(function(httpObj, textStatus) {
				if(httpObj.status == 200) {
					// console.log(httpObj);
				} else {
					alert("Failed");
				}
			});
		})
	});
	
	</script>
		
</fieldset>