<tr data-payment-id="<%= payment.id %>">
  <td><%= payment.id %></td>
  <td><%= payment.account&.name %></td>
  <td><%= payment.created_at&.to_date %></td>
  <td><%= payment.payment_type %></td>
  <td><%= number_to_currency(payment.amount) %></td>
  <td><%= number_to_currency(payment.applied_amount) %></td>
  <td><%= number_to_currency(payment.unapplied_amount) %></td>
  <td><%= number_to_currency(payment.refunded) %></td>
  <td><%= payment.number %></td>
  <td>
    <% if !payment.success? %>
      <%= link_to('finalize', finalize_payment_path(payment, search_params), method: :put, remote: true, class: 'btn btn-default btn-sm') %>
    <% end %>
  </td>
  <td><%= payment.success? %></td>
  <td>
    <div class="dropdown">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
        <% payment.order_payment_applications.each do |app| %>
          <li><%= link_to "#{app.order&.number} - #{number_to_currency(app.applied_amount)}", order_path(app.order_id) %></li>
        <% end %>
      </ul>
    </div>
  </td>
  <td>
    <div class="dropdown">
      <button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
        <% if !payment.success? %>
          <li><%= link_to("Edit", edit_payment_path(payment.id, search_params), :remote => true)  %></li>
        <% end %>
      </ul>
    </div>
  </td>
</tr>
