<% content_for :app_location do %>Admin / Payments / Index<% end %>
<div id="orders" class="col-md-12">

	<table class="table table-bordered table-condensed">
		
		<tr>
			<th>Payment Type</th>
			<th>Payent Amount</th>
			<th>Applied Amount</th>
			<th>Unapplied amount</th>
			<th>Authorization Code</th>
		</tr>
		
	<% @payments.each do |a| %>
		<tr>
			<td><%= a.payment_type %></td>
			<td><%= number_to_currency(a.amount) %></td>
			<td><%= number_to_currency(a.applied_amount) %></td>
			<td><%= number_to_currency(a.unapplied_amount) %></td>
			<td><%= a.authorization_code %></td>
		</tr>
	<% end %>
	</table>

	<%# will_paginate @payments, renderer: BootstrapPagination::Rails %>

	<%= link_to new_payment_path, :class => "btn btn-default pull-right", :remote => true do %><span class="glyphicon glyphicon-plus"></span><% end %>
		
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>