<fieldset>	
			
	<div id="number" class="col-md-4">
		<%= f.label :number, :class => "control-label" %>
		<%= f.text_field :number, :class => "form-control" %>
	</div>
	
	<div id="description" class="col-md-8">
		<%= f.label :description, :class => "control-label" %>
		<%= f.text_field :description, :class => "form-control" %>
	</div>
	
	<div id="price" class="col-md-4">
		<%= f.label :price, :class => "control-label" %>
		<%= f.text_field :price, :class => "form-control" %>
	</div>
	
	<div id="cost_price" class="col-md-4">
		<%= f.label :cost_price, :class => "control-label" %>
		<%= f.text_field :cost_price, :class => "form-control" %>
	</div>
	
	<div id="sale_price" class="col-md-4">
		<%= f.label :sale_price, :class => "control-label" %>
		<%= f.text_field :sale_price, :class => "form-control" %>
	</div>
	
	<div id="weight" class="col-md-3">
		<%= f.label :weight, :class => "control-label" %>
		<%= f.text_field :weight, :class => "form-control" %>
	</div>
	
	<div id="height" class="col-md-3">
		<%= f.label :height, :class => "control-label" %>
		<%= f.text_field :height, :class => "form-control" %>
	</div>
	
	<div id="width" class="col-md-3">
		<%= f.label :width, :class => "control-label" %>
		<%= f.text_field :width, :class => "form-control" %>
	</div>
	
	<div id="length" class="col-md-3">
		<%= f.label :length, :class => "control-label" %>
		<%= f.text_field :length, :class => "form-control" %>
	</div>
	
</fieldset>