<fieldset>	
			
	<div id="number" class="col-md-4">
		<%= f.label :number, :class => "control-label" %>
		<%= f.text_field :number, :class => "form-control" %>
	</div>
	
	<div id="name" class="col-md-8">
		<%= f.label "Name (short)", :class => "control-label" %>
		<%= f.text_field :name, :class => "form-control" %>
	</div>
	
	<div id="description" class="col-md-12">
		<%= f.label :description, :class => "control-label" %>
		<%= f.text_area :description, :class => "form-control" %>
	</div>
	
	<div id="brand" class="col-md-12">
		<%= f.label :brand_name, :class => "control-label" %>
		<%= f.text_field :brand_name, :class => "form-control", data: {autocomplete_source: brands_path} %>
	</div>
	
	<div id="category" class="col-md-12">
		<%= f.label :category_name, :class => "control-label" %>
		<%= f.text_field :category_name, :class => "form-control", data: {autocomplete_source: categories_path} %>
	</div>
	
	<div id="list_price" class="col-md-3">
		<%= f.label :list_price, :class => "control-label" %>
		<%= f.text_field :list_price, :class => "form-control" %>
	</div>
	
	<div id="price" class="col-md-3">
		<%= f.label :price, :class => "control-label" %>
		<%= f.text_field :price, :class => "form-control" %>
	</div>
	
	<div id="cost_price" class="col-md-3">
		<%= f.label :cost_price, :class => "control-label" %>
		<%= f.text_field :cost_price, :class => "form-control" %>
	</div>
	
	<div id="sale_price" class="col-md-3">
		<%= f.label :sale_price, :class => "control-label" %>
		<%= f.text_field :sale_price, :class => "form-control" %>
	</div>
	
	<div id="weight" class="col-md-3">
		<%= f.label :weight, :class => "control-label" %>
		<%= f.text_field :weight, :class => "form-control" %>
	</div>
	
	<div id="height" class="col-md-3">
		<%= f.label :height, :class => "control-label" %>
		<%= f.text_field :height, :class => "form-control" %>
	</div>
	
	<div id="width" class="col-md-3">
		<%= f.label :width, :class => "control-label" %>
		<%= f.text_field :width, :class => "form-control" %>
	</div>
	
	<div id="length" class="col-md-3">
		<%= f.label :length, :class => "control-label" %>
		<%= f.text_field :length, :class => "form-control" %>
	</div>
	
	

	<div id="category_ids" class="col-md-3">
		<%= f.label :category_tokens, :class => "control-label" %>
		<%= f.text_field :category_tokens, :class => "form-control", data: {load: @item.categories} %>
	</div>
	
	<div class="clearfix"></div>
	
	<div class="checkbox col-md-12">
		<label>
			<%= f.check_box :active %>
			<%= f.label :active, I18n.t(:active) %>
		</label>
	</div>
	
	<script>
	jQuery(function() {
		return $('#item_brand_name').autocomplete({
			source: $('#item_brand_name').data('autocomplete-source')
		})
	});

	jQuery(function() {
		return $('#item_category_name').autocomplete({
			source: $('#item_category_name').data('autocomplete-source')
		})
	});
	
	jQuery(function() {
		return $('#item_category_tokens').tokenInput("/admin/categories.json", {
			queryParam: "term",
			 prePopulate: $('#item_category_tokens').data('load')
		})
	});
	</script>
	
</fieldset>