<div id="accounts" class="col-md-12">
		
	<table class="table table-bordered table-striped">
		
		<tr>
			<td colspan="2"><%= image_tag "https://s3.amazonaws.com/247officesuppy/400/400/#{@item.default_image_path}", :class => "media-object", :height => "250", :width => "250" %></td>
		</tr>
		
		<tr>
			<th>Number</th>
			<th>Name</th>
			<th>Price</th>
			<th>Cost</th>
		</tr>
		
		<tr>
			<td><%= best_in_place @item, :number %></td>
			<td><%= @item.name %></td>
			<td><%= number_to_currency(@item.price) %></td>
			<td><%= number_to_currency(@item.cost_price) %></td>
		</tr>
		<tr>
			<td colspan="4"><%= best_in_place @item, :description %></td>
		<tr>
		
	</table>
	
	<br/>
	
	<div class="col-md-6">
		
		<table class="table table-bordered table-condensed table-striped">

			<tr>
				<th>Account</th>
				<th>Price</th>
			</tr>

			<% @item.account_item_prices.each do |it| %>
			<tr>
				<td><%= it.account.name %></td>
				<td><%= (it.price == it.item.actual_price(it.account_id)) ? it.item.actual_price(it.account_id) : 'NULL' %></td>
			</tr>
			<% end %>

		</table>
		
	</div>
	<div class="col-md-6">
		
		<table class="table table-bordered table-condensed table-striped">

			<tr>
				<th>Order</th>
				<th>Ship To Account Name</th>
				<th>Quantity</th>
				<th>Price</th>
			</tr>

			<% @item.order_line_items.each do |it| %>
			<tr>
				<td><%= it.order.number %></td>
				<td><%= it.order.ship_to_account_name %></td>
				<td><%= it.actual_quantity %></td>
				<td><%= it.price %></td>
			</tr>
			<% end %>

		</table>
		
	</div>
	
</div>