<div id="accounts" class="col-md-12">
		
	<table class="table table-bordered table-striped">
		
		<tr>
			<td colspan="8">
				<form id="searchBox" accept-charset="UTF-8" action="/admin/items" method="get" role="search">
					<input type="text" class="form-control" id="term" name="term" placeholder="Search Over 5,000 Products" value="">
				</form>
			</td>
		</tr>
		
		<tr>
			<td width="50%" rowspan="<%= @item.item_properties.size + 1 %>">
				
				<div class="col-md-3">
					<% @item.images.each do |img| %>
					<a><%= image_tag "http://content.oppictures.com/Master_Images/Master_Variants/Variant_500/#{img.attachment_file_name}", :height => "100", :class => "thumbnail", :id => "#{img.id}"%></a>
					<% end %>	
				</div>
				<div class="col-md-9">
					<%= image_tag "http://content.oppictures.com/Master_Images/Master_Variants/Variant_500/#{@item.default_image_path}", :width => "400", :id => "main_image" %>
				</div>
				<script>
					$(".thumbnail").click(function(event){
						var src = $("#"+ event.currentTarget.id).attr("src")
						$("#main_image").attr("src", src)
					})
				</script>
					
			</td>
			
			
			
			
			<th width="25%">Item Status</th>
			<th width="25%"><span class="label label-<%= (@item.active == true) ? "success" : "danger"  %>"><%= (@item.active == true) ? "Active" : "Inactive"  %></span></th>
		</tr>
		
		<tr>
			<th width="25%">Key</th>
			<th width="25%">Value</th>
		</tr>	
		<% @item.item_properties.each  do |ip| %>
		<tr>
			<td><%= ip.key %></td>
			<td><%= ip.value %></td>
		</tr>
		<% end %>
			
			</td>
		</tr>


		
	</table>
	
	<table class="table table-bordered table-striped">
		
		<tr>
			<th width="10%">Number</th>
			<th width="50%">Name</th>
			<th width"10%">Slug</th>
			<th width"10%">Price</th>
			<th width"10%">Sale Price</th>
			<th width"10%">Cost</th>
		</tr>
		
		<tr>
			<td><%= best_in_place @item, :number %></td>
			<td><%= @item.name %></td>
			<td><%= @item.slug %></td>
			<td><%= number_to_currency(@item.price) %></td>
			<td><%= number_to_currency(@item.sale_price) %></td>
			<td><%= number_to_currency(@item.cost_price) %></td>
		</tr>
		<tr>
			<td colspan="6"><%= best_in_place @item, :description %></td>
		<tr>
		
	</table>
	
	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="active"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">Orders</a></li>
		<li role="presentation"><a href="#inventories" aria-controls="inventories" role="tab" data-toggle="tab">Inventories</a></li>
		<li role="presentation"><a href="#item_vendor_prices" aria-controls="item_vendor_prices" role="tab" data-toggle="tab">Vendor Item Prices</a></li>
		<li role="presentation"><a href="#account_item_prices" aria-controls="account_item_prices" role="tab" data-toggle="tab">Account Item Prices</a></li>
		<li role="presentation"><a href="#group_item_prices" aria-controls="group_item_prices" role="tab" data-toggle="tab">Group Item Prices</a></li>
		<li role="presentation"><a href="#item_substitutes" aria-controls="item_substitutes" role="tab" data-toggle="tab">Item Substitutes</a></li>
		<li role="presentation"><a href="#substituting_items" aria-controls="substituting_items" role="tab" data-toggle="tab"> Substituting Items</a></li>
	</ul>
	
	<div class="tab-content">
		
		<br/>
		
		<div role="tabpanel" class="tab-pane active" id="orders">
			
				<table class="table table-bordered table-condensed table-striped">
					<tr>
						<th>Order</th>
						<th>Ship To Name</th>
						<th>Quantity</th>
						<th>Price</th>
					</tr>
					<% @item.order_line_items.each do |it| %>
					<tr>
						<td><%= link_to it.order.number, it.order %></td>
						<td><%= it.order.ship_to_account_name %></td>
						<td><%= it.actual_quantity %></td>
						<td><%= it.price %></td>
					</tr>
					<% end %>
				</table>
			
		</div>

		<div id="inventories" class="tab-pane" role="tabpanel">

			<%= render :partial => "inventories", :locals => {:item => @item} %>

		</div>
		
		<div id="item_vendor_prices" class="tab-pane" role="tabpanel">

			<%= render :partial => "item_vendor_prices", :locals => {:item => @item} %>

		</div>

		<div id="account_item_prices" class="tab-pane" role="tabpanel">

			<%= render :partial => "account_item_prices", :locals => {:item => @item} %>

		</div>
		
		<div id="group_item_prices" class="tab-pane" role="tabpanel">
			
			<%= render :partial => "group_item_prices", :locals => {:item => @item} %>
			
		</div>
		
		<div id="item_substitutes" class="tab-pane" role="tabpanel">
			
			<%= render :partial => "item_substitutes", :locals => {:item => @item} %>
			
		</div>
		
		<div id="substituting_items" class="tab-pane" role="tabpanel">
			
			<%= render :partial => "substituting_items", :locals => {:item => @item} %>
			
		</div>
		
	</div>
	
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div