

	<tr id="add_lines_form">
		
		<%= f.hidden_field :order_id, :value => @order.id %>

		<td colspan="2">
			<%# f.select :item_id, @items.collect {|m| ["#{m.number} - #{m.description}", m.id, :price => m.actual_price(@order.account_id)]}, {:include_blank => "Select Item"},:class => "form-control" %>
			<%= f.text_field :item_number, :class => "form-control", data: {autocomplete_source: search_items_path} %>
		</td>
		
		<td>
			<%= f.text_field :quantity, :class => "form-control", :value => 1 %>
		</td>
		
		<td>
			<%= f.text_field :quantity_canceled, :class => "form-control" %>
		</td>
	
		<td>
			<%= f.text_field :price, :class => "form-control" %>
		</td>
		
		<td colspan="2">
			<%= f.button :class => "btn btn-primary btn-sm", :type => :submit do %>Add<% end %>
		</td>
		<script>
		jQuery(function() {
			return $('#order_line_item_item_number').autocomplete({
				source: $('#order_line_item_item_number').data('autocomplete-source')
			});
		});
		</script>
		
		<script>
		$("select#order_line_item_item_id").change(function(e){
			var price = $(this).find("option:selected").attr("price")
			$("input#order_line_item_price").val(parseFloat(price).toFixed(2))
		})
		</script>
		
		<script>
		
		$("input#order_line_item_item_number").on("blur", function(e){
			var item_number = $("input#order_line_item_item_number").val()
			var account_name = $("#order_account_name").val()
			
			var request = $.ajax({
				url : '/admin/items/actual_price_by_item_number_and_account_id?item_number=' + item_number + '&account_name=' + account_name,
				dataType : "json"
			});

			request.success(function(data) {
				console.log(data)
				if (data == null) {
					
				} else {
					success_action(data)
				}
				
			});

			request.error(function(httpObj, textStatus) {
				if(httpObj.status == 200)
				success_action(data)
				else
				alert("Failed")
			});

			function success_action(data) {
				console.log(data)
				$("input#order_line_item_price").val(parseFloat(data).toFixed(2))
			}
		});
		</script>
		
	</tr>
	<tr>
		<td colspan="7">
			<%= f.text_field :description, :class => "form-control" %>
		</td>
	</tr>
