<fieldset>	
			
	<div id="name" class="col-md-6">
		<%= f.label :name, :class => "control-label" %>
		<%= f.text_field :name, :class => "form-control" %>
	</div>
	
	<div id="prefix" class="col-md-6">
		<%= f.label :prefix, :class => "control-label" %>
		<%= f.text_field :prefix, :class => "form-control" %>
	</div>
	
	<div class="checkbox col-md-6">
		<label>
			<%= f.check_box :active %>
			<%= f.label :active, I18n.t(:active) %>
		</label>
	</div>
	
	<div class="checkbox col-md-6">
		<label>
			<%= f.check_box :preferred %>
			<%= f.label :preferred, I18n.t(:preferred) %>
		</label>
	</div>
	
</fieldset>