<% content_for :app_location do %>Brands/Index<% end %>
<div id="brands" class="col-md-12">

	<table class="table table-bordered">

		<tr>
			<th>ID</th>
			<th>Prefix</th>
			<th>Name</th>
			<th>Active</th>
			<th>Preferred</th>
			<th>&nbsp;</th>
		</tr>
		
		<% @brands.each do |a| %>
		<tr>
			<td><%= a.id %></td>
			<td><%= a.prefix %></td>
			<td><%= a.name %></td>
			<td><%= a.active ? "Yes" : "No" %></td>
			<td><%= a.preferred ? "Yes" : "No" %></td>
			<td class="text-center">
			
				<div class="dropdown">
					<button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
						<li><%= link_to("Edit", edit_brand_path(a.id), :remote => true)  %></li>
					</ul>
				</div>
			
			</td>
		</tr>
		<% end %>

	</table>
	
	<%= link_to new_brand_path, :class => "btn btn-default pull-right", :remote => true do %><span class="glyphicon glyphicon-plus"></span><% end %>
	
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>