<td class="hidden-xs"><%= category.id %></td>
<td class="hidden-xs"><%= category.parent.name unless category.parent.nil? %></td>
<td><%= category.name %></td>
<td class="hidden-xs"><%= category.slug %></td>
<td class="hidden-xs"><%= category.show_in_menu %></td>
<td class="hidden-xs"><%= category.menu_id %></td>
<td><%= category.children.count %></td>
<td><%= category.items.count %></td>
<td class="text-center">

	<div class="dropdown">
		<button class="btn btn-default btn-xs dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
			<li><%= link_to("Edit", edit_category_path(category.id), :remote => true)  %></li>
		</ul>
	</div>

</td>