<fieldset>	
			
	<div id="name" class="col-md-12">
		<%= f.label :name, :class => "control-label" %>
		<%= f.text_field :name, :class => "form-control" %>
	</div>
	
	<div id="slug" class="col-md-12">
		<%= f.label :slug, :class => "control-label" %>
		<%= f.text_field :slug, :class => "form-control" %>
	</div>
	
	<div id="parent" class="col-md-12">
		<%= f.label :parent_name, :class => "control-label" %>
		<%= f.text_field :parent_name, :class => "form-control" %>
	</div>
	
	<div id="menu" class="col-md-12">
		<%= f.label :menu_id, :class => "control-label" %>
		<%= f.text_field :menu_id, :class => "form-control" %>
	</div>
	
	<div class="checkbox col-md-12">
		<label>
			<%= f.check_box :active %>
			<%= f.label :active, I18n.t(:active) %>
		</label>
	</div>
	
	<div class="checkbox col-md-12">
		<label>
			<%= f.check_box :show_in_menu %>
			<%= f.label :show_in_menu, I18n.t(:show_in_menu) %>
		</label>
	</div>
	
</fieldset>