<div id="category" class="col-md-12">
    
  <table class="table table-bordered table-striped">
    
    <tr>
      <th width="10%">ID</th>
      <th width="10%">Parent</th>
      <th width="10%">Position</th>
      <th width="10%">Name</th>
      <th width="10%">Slug</th>
      <th width="10%">Active</th>
      <th width="10%">Show In Menu</th>
      <th width="10%">Menu ID</th>
      <th width="10%">Children</th>
      <th width="10%">Items</th>
    </tr>
    
    <tr>
      <td><%= @category.id %></td>
      <td><%= @category.parent&.name %></td>
      <td><%= @category.position %></td>
      <td><%= @category.name %></td>
      <td><%= @category.slug %></td>
      <td><%= @category.active ? "Yes" : "No" %></td>
      <td><%= @category.show_in_menu ? "Yes" : "No" %></td>
      <td><%= @category.menu_id %></td>
      <td><%= @category.children.count %></td>
      <td><%= @category.items.count %></td>
    </tr>
    
  </table>
  
  <div class="col-md-5">
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="line_items">
          <th colspan="4" class="bg-primary">Children</th>
        </tr>
        <tr>
          <th style="width:10%"></th>
          <th style="width:40%">Name</th>
          <th style="width:40%">Slug</th>
          <th style="width:10%"></th>
        </tr>
      </thead>
      <tbody id="children-sortable">
        <% @category.children.each do |child| %>
          <tr id="category_<%= child.id %>">
            <td><span class="glyphicon glyphicon-resize-vertical"></span></td>
            <td><%= child.name %></td>
            <td><%= child.slug %></td>
            <td>
              <%= link_to category_path(child, category: {parent_id: nil}), method: :patch, remote: true do %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <script>
      $('#children-sortable').sortable({
        update: function( event, ui ) {
          $( "#children-sortable" ).sortable( "disable" );
          var jqxhr = $.post( "<%= change_position_categories_path %>", {id: ui.item[0].id.match(/\d*$/)[0], category: {position: ui.item.index() + 1}} );
          jqxhr.always(function(){
            $( "#children-sortable" ).sortable( "enable" );
          })
        }
      });
    </script>

    <table class="table table-bordered table-striped">
      <thead>
        <tr class="line_items">
          <th colspan="4" class="bg-primary">Assets</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input type="file" id="assets_upload" name="asset[attachment]" data-category-id="<%= @category.id %>" multiple/>
            <script>
              $(function() {
                $("#assets_upload").fileinput({
                  uploadUrl: "<%= assets_path %>",
                  uploadExtraData: function (previewId, index) {
                    var obj = {};
                    obj['attachable_type'] = 'Category';
                    obj['attachable_id'] = $('#assets_upload')[0].dataset['categoryId'];
                    obj['position'] = $('.file-preview-frame.kv-preview-thumb').index($('#' + previewId)) + 1;
                    obj['acts_as_list_no_update'] = true;
                    return obj;
                  },
                  deleteUrl: "<%= delete_assets_path %>",
                  dropZoneEnabled: true,
                  initialPreviewAsData: true,
                  overwriteInitial: false,
                  allowedFileExtensions: ['jpg', 'gif', 'png', 'pdf'],
                  initialPreview: <%= raw @category.assets.each.map { |asset| asset.attachment.url } %>,
                  initialPreviewConfig: <%= raw @category.assets.each.map { |asset| asset.to_fileinput_hash }.to_json %>
                });
                $('#assets_upload').on('filesorted', function(event, params) {
                  $.post( "<%= change_position_assets_path %>", {id: params.stack[params.newIndex].key, asset: {position: params.newIndex + 1}} );
                });
              });
            </script>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-7">  
    <table class="table table-bordered table-condensed table-striped">
      <tr class="line_items">
        <th colspan="4" class="bg-primary">Items</th>
      </tr>
      <tr>
        <td colspan="4">
          <form id="searchBox" accept-charset="UTF-8" action="/admin/categories/<%= @category.id %>" method="get" role="search" data-remote="true">
            <input type="text" class="form-control" id="term" name="term" placeholder="Search for item" value="<%= params[:term] %>">
          </form>
        </td>
      </tr>
      <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Default Price</th>
        <th>Times Purchased</th>
      </tr>
      <% @items.each do |item| %>
        <tr>
          <td><%= link_to item.number, item %></td>
          <td><%= item.name %></td>
          <td><%= number_to_currency(item.prices.actual.where(_type: 'Default').first&.price) %></td>
          <td><%= item.times_sold.to_i %></td>
        </tr>
      <% end %>
    </table>

    <%= will_paginate @items, renderer: BootstrapPagination::Rails %>
  </div>
  
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
    </div>
  </div>
</div