<% content_for :app_location do %>Shipments/New<% end %>
<div id="orders" class="col-md-12">
	
	<%= form_for @shipment, url: order_shipments_path, :remote => false do |f| %>
	
	<table class="table table-bordered">
		
		<tr>
			<th>Order Number</th>
			<th>Ship To Account Name</th>
			<th>Ship Date</th>
			<th>Carrier</th>
		</tr>
		
		<tr>
			<td><%= @order.number %></td>
			<td><%= @order.ship_to_account_name %></td>
			<td><%= f.date_field :ship_date, :class => "form-control", :value => Date.today %></td>
			<td><%= f.select :carrier, ["UPS", "FedEx", "US Postal Service", "Ensenda", "Roadrunner", "Dohrn", "Saia", "DHL", "Midwest Motor Express", "Moran Transportaion", "Beaver Express"], {}, :class => "form-control" %></td>
		</tr>
		
	</table>
	
	<table class="table table-bordered">
		
		<tr>
			<th>ID</th>
			<th>Item Name/Description</th>
			<th>Quantity Ordered</th>
			<th>Quantity Shipped</th>
			<th>Quantity To Ship Now</th>
		<tr>
		
		<%= hidden_field_tag :order_id, params[:order_id].to_i %>
		
		<% @line_items.each_with_index do |li, idx| %>
			<% if li.quantity_shipped.to_i != li.actual_quantity and li.actual_quantity != 0 %>
				<%= hidden_field_tag "lines[#{idx}][order_line_item_id]", li.id.to_i %>
				<tr>
					<td><%= li.id %></td>
					<td><%= "#{li.item.number} / #{li.item.name}" unless li.item.nil? %></td>
					<td><%= li.actual_quantity %></td>
					<td><%= li.quantity_shipped %></td>
					<td><%= text_field_tag "lines[#{idx}][quantity_ship_now]", (li.actual_quantity.to_i - li.quantity_shipped.to_i), :class => "form-control" %></td>
				<tr>
			<% end %>
		<% end %>
		
	</talbe>
	
	<table class="table table-bordered table-condensed">
		
		<tr>
			<td>Tracking Number 1</td>
			<td><%= text_field_tag "tracking_numbers[0][number]" %></td>
		</tr>
		<tr>
			<td>Tracking Number 2</td>
			<td><%= text_field_tag "tracking_numbers[1][number]" %></td>
		</tr>
		<tr>
			<td>Tracking Number 3</td>
			<td><%= text_field_tag "tracking_numbers[2][number]" %></td>
		</tr>
		<tr>
			<td>Tracking Number 4</td>
			<td><%= text_field_tag "tracking_numbers[3][number]" %></td>
		</tr>
		<tr>
			<td>Tracking Number 5</td>
			<td><%= text_field_tag "tracking_numbers[4][number]" %></td>
		</tr>
		<tr>
			<td>Tracking Number 6</td>
			<td><%= text_field_tag "tracking_numbers[5][number]" %></td>
		</tr>
		<tr>
			<td>Tracking Number 7</td>
			<td><%= text_field_tag "tracking_numbers[6][number]" %></td>
		</tr>
		<tr>
			<td>Tracking Number 8</td>
			<td><%= text_field_tag "tracking_numbers[7][number]" %></td>
		</tr>
		<tr>
			<td>Tracking Number 9</td>
			<td><%= text_field_tag "tracking_numbers[8][number]" %></td>
		</tr>
		<tr>
			<td>Tracking Number 10</td>
			<td><%= text_field_tag "tracking_numbers[9][number]" %></td>
		</tr>
		<tr>
			<td>Tracking Number 11</td>
			<td><%= text_field_tag "tracking_numbers[10][number]" %></td>
		</tr>
		<tr>
			<td>Tracking Number 12</td>
			<td><%= text_field_tag "tracking_numbers[11][number]" %></td>
		</tr>
		<tr>
			<td>Tracking Number 13</td>
			<td><%= text_field_tag "tracking_numbers[12][number]" %></td>
		</tr>
		<tr>
			<td>Tracking Number 14</td>
			<td><%= text_field_tag "tracking_numbers[13][number]" %></td>
		</tr>
		<tr>
			<td>Tracking Number 15</td>
			<td><%= text_field_tag "tracking_numbers[14][number]" %></td>
		</tr>
		
	</table>
	
	<table>
		<tr>
			<td colspan="5"><%= f.submit "Create Shipment", :class => "btn btn-primary pull-right" %></td>
		</tr>
	</table>
	<% end %>
	
</div>