<!DOCTYPE html>
<html lang="en-us">

	<head>
		<title><%= yield :title %></title>
		<%= stylesheet_link_tag    "supply.us/all", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "supply.us/all", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	
	<body class="smoothscroll enable-animation">
		
		<%= render :partial => "shop/common/slide_top" %>
	
		<div id="wrapper">
		
			<%= render :partial => "shop/common/top_bar" %>
		
			<div id="header">
			
				<%= render :partial => "shop/common/search_box" %>
			
				<%= render :partial => "shop/common/top_nav" %>
			
			</div>
			
			<%= yield %>
			
			<%= render :partial => "shop/common/info_bar" %>
		
			<%= render :partial => "shop/home/brands" %>
		
			<%= render :partial => "shop/common/footer" %>
			
			<%= render :partial => "shop/common/modal_newsletter" %>
			
		</div>
		
	</body>
	
	<script type="text/javascript">var plugin_path = 'assets/supply.us/';</script>
	
	<!-- PAGE LEVEL SCRIPTS -->
	<!-- <script type="text/javascript" src="assets/supply.us/view/demo.shop.js"></script> -->
	
</html>