<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <% Customer.joins(:orders).where(id: Order.unpaid.pluck(:account_id)).uniq.all.each do |customer| %>
    <Worksheet ss:Name="<%= customer.name %>">
      <Table>
        <Row>
          <Cell><Data ss:Type="String">Number</Data></Cell>
          <Cell><Data ss:Type="String">Due Date</Data></Cell>
          <Cell><Data ss:Type="String">Total</Data></Cell>
          <Cell><Data ss:Type="String">Balance Due</Data></Cell>
          <Cell><Data ss:Type="String">Days Outstanding</Data></Cell>
        </Row>        
        <% customer.orders.fulfilled.unpaid.order(:submitted_at).each do |i|%>
          <Row>
            <Cell><Data ss:Type="String"><%= i.number %></Data></Cell>
            <Cell><Data ss:Type="String"><%= i.due_date.strftime('%m/%d/%Y') %></Data></Cell>
            <Cell><Data ss:Type="String"><%= number_to_currency(i.total) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= number_to_currency(i.balance_due) %></Data></Cell>
            <Cell><Data ss:Type="String"><%= (Date.today.to_date - i.submitted_at.to_date).to_i  %></Data></Cell>
          </Row>
        <% end %>
      </Table>
    </Worksheet>
  <% end %>
</Workbook>