<% a = current_user.roles.map {|r| r.permissions.map(&:mdl_name)}.flatten %>
<% if current_user.roles.map(&:name).include?("super_admin") %>
	<% a = Role::MODELS_LIST.map(&:to_s) %>
<% end %>
<ul class="nav nav-pills nav-stacked">
	<% if a.include?("customer") %><li class="<% if current_page?(:customers) %>active<% end %>"><%= link_to "Customers", customers_path %></li><% end %>
	<% if a.include?("order") %><li class="<% if current_page?(:orders) %>active<% end %>"><%= link_to "Orders", orders_path %></li><% end %>
	<% if a.include?("purchase_order") %><li class="<% if current_page?(:purchase_orders) %>active<% end %>"><%= link_to "Purchase Orders", purchase_orders_path %></li><% end %>
	<% if a.include?("SKIP") %><li class="<% if current_page?(:invoices) %>active<% end %>"><%= link_to "Invoices", invoices_path %></li><% end %>
	<% if a.include?("item") %><li class="<% if current_page?(:items) %>active<% end %>"><%= link_to "Items", items_path %></li><% end %>
	<% if a.include?("equipment") %><li class="<% if current_page?(:equipment_index) %>active<% end %>"><%= link_to "Equipment", equipment_index_path %></li><% end %>
	<% if a.include?("equipment_alert") %><li class="<% if current_page?(:equipment_alerts) %>active<% end %>"><%= link_to "Equipment Alerts", equipment_alerts_path %></li><% end %>
	<% if a.include?("make") %><li class="<% if current_page?(:makes) %>active<% end %>"><%= link_to "Makes", makes_path %></li><% end %>
	<% if a.include?("machine_model") %><li class="<% if current_page?(:machine_models) %>active<% end %>"><%= link_to "Machine Models", machine_models_path %></li><% end %>
	<% if a.include?("inventory") %><li class="<% if current_page?(:inventories) %>active<% end %>"><%= link_to "Inventory", inventories_path %></li><% end %>
	<% if a.include?("vendor") %><li class="<% if current_page?(:vendors) %>active<% end %>"><%= link_to "Vendors", vendors_path %></li><% end %>
	<% if a.include?("brand") %><li class="<% if current_page?(:brands) %>active<% end %>"><%= link_to "Brands", brands_path %></li><% end %>
	<% if a.include?("category") %><li class="<% if current_page?(:categories) %>active<% end %>"><%= link_to "Categories", categories_path %></li><% end %>
	<% if a.include?("user") %><li class="<% if current_page?(:users) %>active<% end %>"><%= link_to "Users", users_path %></li><% end %>
	<% if a.include?("group") %><li class="<% if current_page?(:groups) %>active<% end %>"><%= link_to "Groups", groups_path %></li><% end %>
	<% if a.include?("setting") %>
		<li>
			<a href="#settings_menu" data-toggle="collapse">Settings <i class="fa fa-caret-down"></i></a>
			<ul id="settings_menu" class="sub-menu list-group collapse">
				<li class="<% if current_page?(:settings) %>active<% end %>"><%= link_to "General Settings", settings_path %></li>
				<li class="<% if current_page?(:tax_rates) %>active<% end %>"><%= link_to "Tax Rates", tax_rates_path %></li>
			</ul>
		</li>
	<% end %>
	<% if a.include?("role") %><li class="<% if current_page?(:roles) %>active<% end %>"><%= link_to "Roles", roles_path %></li><% end %>
	<% if a.include?("payment") %><li class="<% if current_page?(:payments) %>active<% end %>"><%= link_to "Payments", payments_path %></li><% end %>
	<!-- <li class="<%# if current_page?(:path => :charges) %>active<%# end %>"><%= link_to "Charges", charges_path %></li> -->
	<li>
		<%# session[:token] = nil %>
		<% unless session[:token] %>
		    <ipp:connectToIntuit></ipp:connectToIntuit>
		<% else %>
			<% if Setting.find_by(:key => "qb_token").nil? %>
				<%# Setting.create(:key => "qb_token", :value => session[:token]) %>
			<% end %>
			<div class="alert alert-info alert-sm">
				Your QucikBooks account is connnected!
			</div>
		<% end %>
	</i>
</ul>