<ul class="nav nav-pills nav-stacked">
	<li class="<% if current_page?(:accounts) %>active<% end %>"><%= link_to "Accounts", accounts_path %></li>
	<li class="<% if current_page?(:orders) %>active<% end %>"><%= link_to "Orders", orders_path %></li>
	<li class="<% if current_page?(:invoices) %>active<% end %>"><%= link_to "Invoices", invoices_path %></li>
	<li class="<% if current_page?(:items) %>active<% end %>"><%= link_to "Items", items_path %></li>
	<li class="<% if current_page?(:vendors) %>active<% end %>"><%= link_to "Vendors", vendors_path %></li>
	<li class="<% if current_page?(:brands) %>active<% end %>"><%= link_to "Brands", brands_path %></li>
	<li class="<% if current_page?(:categories) %>active<% end %>"><%= link_to "Categories", categories_path %></li>
	<li class="<% if current_page?(:users) %>active<% end %>"><%= link_to "Users", users_path %></li>
	<li class="<% if current_page?(:groups) %>active<% end %>"><%= link_to "Groups", groups_path %></li>
	<li class="<% if current_page?(:settings) %>active<% end %>"><%= link_to "Settings", settings_path %></li>
	<li class="<% if current_page?(:roles) %>active<% end %>"><%= link_to "Roles", roles_path %></li>
	<!-- <li class="<%# if current_page?(:path => :charges) %>active<%# end %>"><%= link_to "Charges", charges_path %></li> -->
</ul>