<% content_for :app_location do %>Accounts >> Index<% end %>
<div id="accounts" class="col-md-12">
	
	<table class="table table-bordered table-condensed table-responsive">
		
		<tr>
			<td colspan="8">
				<form id="searchBox" accept-charset="UTF-8" action="/admin/accounts" method="get" role="search">
					<input type="text" class="form-control" id="term" name="term" placeholder="Enter account name" value="">
				</form>
			</td>
		</tr>
		
		<tr>
			<th class="hidden-xs"><%= sortable "id" %></th>
			<th><%= sortable "name" %></th>
			<th class="hidden-xs">Address 1</th>
			<th class="hidden-xs"><%= sortable "ship_to_city", "City" %></th>
			<th class="hidden-xs"><%= sortable "ship_to_state", "State" %></th>
			<th class="hidden-xs"><%= sortable "ship_to_zip", "Zip" %></th>
			<th class="hidden-xs">Phone</th>
			<th>&nbsp;</th>
		</tr>

		<% @accounts.each do |a| %>
		<tr>
			<td class="hidden-xs"><%= a.id %></td>
			<td><%= a.name %></td>
			<td class="hidden-xs"><%= a.ship_to_address_1 %></td>
			<td class="hidden-xs"><%= a.ship_to_city %></td>
			<td class="hidden-xs"><%= a.ship_to_state %></td>
			<td class="hidden-xs"><%= a.ship_to_zip %></td>
			<td class="hidden-xs"><%= number_to_phone(a.ship_to_phone) %></td>
			<td class="text-center"><%= link_to(account_path(a.id), :class => "btn btn-info btn-xs") do %><span class="glyphicon glyphicon-search"></span><% end %></td>
		</tr>
		<% end %>

	</table>
		
	
	<%= link_to new_account_path, :class => "btn btn-default pull-right", :remote => true do %><span class="glyphicon glyphicon-plus"></span><% end %>
	
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>


