<div id="accounts" class="col-md-12">
	
	<div class="widget panel">
		
		<% if flash[:notice] %>
		<div id="flash_messages" class="aelrt alert-success" role="alert">
			<strong><%= flash[:notice] %></strong>
		</div>
		<% end %>
		
		<table class="table">

			<tr>
				<td>ID</td>
				<td>Name</td>
				<td>Address 1</td>
				<td>City</td>
				<td>State</td>
				<td>Zip</td>
				<td>Phone</td>
				<td>&nbsp;</td>
			</tr>

			<% @accounts.each do |a| %>
			<tr>
				<td><%= a.id %></td>
				<td><%= a.name %></td>
				<td><%= a.ship_to_address_1 %></td>
				<td><%= a.ship_to_city %></td>
				<td><%= a.ship_to_state %></td>
				<td><%= a.ship_to_zip %></td>
				<td><%= number_to_phone(a.ship_to_phone) %></td>
				<td><%= link_to(account_path(a.id), :class => "btn btn-info btn-xs") do %><span class="glyphicon glyphicon-search"></span><% end %></td>
			</tr>
			<% end %>

		</table>
		
	</div>
	
	<%= link_to new_account_path, :class => "btn btn-default pull-right", :remote => true do %><span class="glyphicon glyphicon-plus"></span><% end %>
	
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>


