<div class="col-md-12">

	<div class="widget panel">
		
		<div class="panel-body">
			<div class="pull-right">
				Credit Hold: <%= @account.credit_hold ? "Yes" : "No" %><br/>
				Credit Limit: <%= number_to_currency(@account.credit_limit) %><br/>
				Credit Terms: <%= @account.credit_terms %>
			</div>
			<% if !@account.name.nil? %><%= @account.name %><% end %>
			<% if !@account.address_1.nil? %><br/><%= @account.address_1 %><% end %>
			<% if !@account.address_2.nil? %><br/><%= @account.address_2 %><% end %>
			<%= @account.city %>, <%= @account.state %> <%= @account.zip %><br/>
			<% if !@account.phone.nil? %><br/><%= number_to_phone(@account.phone) %><% end %>
			<% if !@account.fax.nil? %><br/><%= number_to_phone(@account.fax) %><% end %>
			<hr/>
			<% if !@account.quickbooks_id.nil? %>QuickBooks Id: <%= @account.quickbooks_id %><% end %>
			

		</div>
	</div>
	
	<ul class="nav nav-tabs nav-justified">
		<li role="presentation" class="active"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab">Orders</a></li>
		<li role="presentation"><a href="#account_item_prices" aria-controls="account_item_prices" role="tab" data-toggle="tab">Account Item Prices</a></li>
	</ul>
	
	<div class="tab-content">
	
		<br/>
	
		<div role="tabpanel" class="tab-pane active" id="orders">
		
			<table class="table table-bordered table-condensed table-striped">
				<tr>
					<th>Complete</th>
					<th>Last Update</th>
					<th>Number</th>
					<th width="20%">Total</th>
					<th width="20%">Amount Shipped</th>
					<th width="20%">Amount Fulfilled</th>
				</tr>
				<% @account.orders.each do |it| %>
				<tr>
					<td><%= it.completed_at.nil? ? "No" : "Yes" %></td>
					<td><%= it.updated_at %>
					<td><%= link_to it.number, it %></td>
					<td><%= number_to_currency(it.sub_total) %></td>
					<td><%= number_to_currency(it.amount_shipped) %></td>
					<td><%= number_to_currency(it.amount_fulfilled) %></td>
				</tr>
				<% end %>
			</table>
		
		</div>
	
		<div id="account_item_prices" class="tab-pane" role="tabpanel">
			<%= link_to "Copy Price Catalogue", new_account_item_price_path(:copy => true, :account_id => @account.id), :class => "btn btn-primary", :remote => true  %>
			<table class="table table-bordered table-condensed table-hover">
				<tr>
					<th>Item Number</th>
					<th>Description</th>
					<th width="10%">Contract Price</th>
					<th width="10%">Cost Price</th>
				</tr>

				<% @item_prices.limit(50).each do |a| %>
				<tr <% if a.item && (a.price.to_f < a.item.cost_price.to_f) %>class="danger" <% end %>>
					<td><%= a.item.number unless a.item.nil? %></td>
					<td><%= a.item.name unless a.item.nil? %></td>
					<td><%= number_to_currency(a.price) %></td>
					<td><%= number_to_currency(a.item.cost_price) unless a.item.nil? %></td>
					<td><%= link_to "Delete", account_item_price_path(a.id), :method => :delete, :remote => true %></td>

				</tr>
				<% end %>
			</table>
		</div>
	
	</div>

</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>

<div id="confirmModal" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
		
		</div>
	</div>
</div>

<%= javascript_include_tag "https://js.stripe.com/v2/" %>