<% content_for :app_location do %>Admin / Models / Index<% end %>
<div id="equipment-alerts" class="col-md-12">

	<table class="table table-bordered table-condensed table-responsive">
		
		<tr>
			<th>Make</th>
			<th>Model Number</th>
			<th>Name</th>
			<th>Equipment Count</th>
		</tr>
		
		<% @models.each do |a| %>
		<tr>
			<td><%= a.make.name if a.make.present? %></td>
			<td><%= a.number %></td>
			<td><%= a.name %></td>
			<td><%= a.equipments.count %></td>
		</tr>
		<% end %>

	</table>
	
	<%= will_paginate @models, renderer: BootstrapPagination::Rails %>
	
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			
		</div>
	</div>
</div>