<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title">Change Password</h4>
</div>
<div class="modal-body">
	
	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :method => :put }) do |f| %>
		
		<%= devise_error_messages! %>
		
		<div class="col-md-12">
			<%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
			<%= f.password_field :current_password, :class => "form-control", autocomplete: "off" %>
		</div>

		<div class="col-md-12">
			<%= f.label :password, :classs => "form-control" %>
			<%= f.password_field :password, :class => "form-control", autocomplete: "off" %>
		</div>
		
		<div class="col-md-12">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %>
		</div>
		
		<p>&nbsp;</p>
		
		<div class="col-md-12">
			<%= f.submit "Change Password", :class => "btn btn-primary pull-right" %>
		</div>
		
		<div class="clearfix"></div>
		
	<% end %>
	
</div>