<% @body_id = 'login' %>
<div class="col-md-6 <%= request.path == shop_login_path ? "col-md-offset-3" : "" %>">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= I18n.t(:login_as_existing) %></h3>
    </div>
      <div id="existing-customer" class="panel-body" data-hook="login">
          <% if flash[:alert] %>
            <div class="alert alert-danger"><%= flash[:alert] %></div>
          <% end %>
          <%= render :partial => 'shop/login_form' %>
          <div class="text-center">
            <%= I18n.t(:or) %>
                <%= link_to I18n.t(:create_a_new_account), new_user_registration_path %> |
                <%= link_to I18n.t(:forgot_password), new_password_path('user') %>
          </div>
          <div data-hook="login_extras"></div>
      </div>
  </div>
</div>